{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/error-summary.njk" import errorSummary %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}

{% block pageTitle %}Check your email{% endblock %}

{% block beforeContent %}
    <div class="govuk-width-container">
      <a href="/create/get-email" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
          errors: errorMessages,
          hrefs: {
            'create-email-otp': '#create-email-otp'
          }
        }) }}

        <h1 class="govuk-heading-l">Check your email</h1>

        <div class="govuk-inset-text">
          We have sent an email to: <span class="govuk-!-font-weight-bold">{{ emailAddress }}</span>
        </div>

        <p class="govuk-body">The email contains a 6 digit security code.</p>
        <p class="govuk-body">The email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
        <p class="govuk-body">The code will expire after 15 minutes.</p>

        <form class="form" action="/create/check-email" method="post">

          {{ govukInput({
            label: {
              text: "Enter the 6 digit security code"
            },
            name: "create-email-otp",
            id: "create-email-otp",
            classes: "govuk-input--width-5",
            type: "text",
            inputmode: "numeric",
            pattern: "[0-9]*",
            spellcheck: false,
            value: value.otp,
            errorMessage: {
              text: errorMessages.get('create-email-otp')
            } if errorMessages else false
          }) }}

          <button id="submit" type="submit" class="govuk-button" data-module="govuk-button" formnovalidate>
            Continue
         </button>
         
         <p class="govuk-body"><a id="resend-code-page" class="govuk-link" href="/create/resend-email-code">Not received an email?</a></p>

      </form>
  </div>

  {% endblock %}
