{% extends "../layout.njk" %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Check your phone
                </h1>

                <p class="govuk-body">We sent a code to {{ mobileNumber }}.</p>

                <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>


                <form method="post" action="/create/verify-phone-code">
                    <div class="govuk-form-group">

                        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>

                        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text"
                               autocomplete="one-time-code" inputmode="numeric" spellcheck="false">

                    </div>

                    <p class="govuk-body"><a href="/create/get-new-phone-code">Request a new code </a> if:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>the code is not working or has expired, or you did not receive one</li>
                        <li>you want to use a different phone number</li>
                    </ul>

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}
