{% extends "layout/base.njk" %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Enter your mobile phone number" %}

{% block mainContent %}
  {{ errorSummary ({
    errors: errorMessages,
    hrefs: {
      mobileNumber: "#mobileNumber"
    }
  }) }}

  <h1 class="govuk-heading-l">Enter your mobile phone number</h1>
  <p class="govuk-body">We will send a 6 digit security code to this number every time you sign in.</p>
  <p class="govuk-body">You must use a UK mobile phone number.</p>

  <form class="form" action="/create/enter-mobile" method="post">
    {{ govukInput({
      label: {
        text: "UK mobile phone number"
      },
      name: "mobileNumber",
      id: "mobileNumber",
      classes: "govuk-input--width-20",
      type: "tel",
      autocomplete: "tel",
      value: values.mobileNumber if values,
      errorMessage: {
        text: errorMessages.mobileNumber
      } if errorMessages
    }) }}

    {{ govukButton({ text: "Continue", attributes: {id: "submit"} }) }}
  </form>
{% endblock %}
