{% extends "layout/form.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set backLink = backLink("/create/get-email") %}
{% set pageTitle = "An account already exists" %}
{% set formAction = "/existing-account" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">An account already exists</h1>
  <div class="govuk-inset-text">
    An account already exists with the email address <span class="govuk-!-font-weight-bold">{{ values.emailAddress }}</span>
  </div>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput("Enter your password", autocomplete = "current-password") }}
{% endblock %}

{% block afterForm %}
  <p class="govuk-body">If this is your email address and you did not register for an account, please <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us">contact us</a>.</p>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
{% endblock %}
