{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/error-summary.njk" import errorSummary %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}

{% block pageTitle %}Enter your email address{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/create-account-or-sign-in" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
            errors: errorMessages,
            hrefs: {
                'emailAddress': '#email'
            }
        }) }}

        <h1 class="govuk-heading-l">Enter your email address</h1>

        <form class="form" action="/create/get-email" method="post">

          {{ govukInput({
              label: {
                  text: "Email address"
              },
              hint: {
                  text: "Must be a government email address"
              },
              name: "emailAddress",
              id: "email",
              classes: "govuk-!-width-three-quarters",
              errorMessage: {
                  text: errorMessages.get('emailAddress')
              } if errorMessages else false,
              value: values.email

          }) }}

          <h2 class="govuk-heading-m">Agree to our privacy notice</h2>
          <p class="govuk-body">We will collect and save your information securely. We will not share your personal information without your consent.</p>
          <p class="govuk-body govuk-!-margin-bottom-6">By continuing, you confirm that you agree to our <a class="govuk-link" href="https://www.sign-in.service.gov.uk/privacy-policy">privacy notice</a>.</p>

          <button id="submit" type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>
    </div>
  </div>

{% endblock %}
