{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Create your password" %}

{% block mainContent %}
  {{ errorSummary ({
    errors: errorMessages,
    hrefs: {
      password: "#password"
    }
  }) }}

  <h1 class="govuk-heading-l">Create your password</h1>

  <form class="form" action="/create/update-password" method="post">
    <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
         data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
         data-hide-full-text="Hide password" data-announce-show="Your password is shown"
         data-announce-hide="Your password is hidden">

      {{ govukInput({
        label: {
          text: "Enter a password"
        },
        hint: {
          text: "Must be at least 8 characters"
        },
        name: "password",
        id: "password",
        type: "password",
        autocomplete: "new-password",
        classes: "govuk-!-width-two-thirds gem-c-input",
        value: values.password if values,
        errorMessage: {
          text:  errorMessages.password
        } if  errorMessages
      }) }}
    </div>

    {{ govukButton({ text: "Continue", attributes: {id: "submit"} }) }}
  </form>
{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
{% endblock %}
