{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}

{% set pageTitle = "Create your password" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary ({
        errors: errorMessages,
        hrefs: {
          'password': '#password'
        }
      }) }}

      <h1 class="govuk-heading-l">Create your password</h1>

      <form class="form" action="/create/update-password" method="post">
        <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
             data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
             data-hide-full-text="Hide password" data-announce-show="Your password is shown"
             data-announce-hide="Your password is hidden">

          <div class="govuk-form-group {% if errorMessages %}govuk-form-group--error{% endif %}">
            <label for="password" class="gem-c-label govuk-label">Enter a password</label>
            <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
              Must be at least 8 characters
            </div>
            {% if errorMessages %}
              <p id="national-insurance-number-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errorMessages.password }}
              </p>
            {% endif %}
            <input name="password" class="gem-c-input govuk-input govuk-!-width-two-thirds {% if errorMessages %}govuk-input--error{% endif %}"
                   id="password" type="password" autocomplete="new-password" aria-describedby="hint-password" value="{{ values.password }}">
          </div>
        </div>

        {{ govukButton({
          text: "Continue",
          attributes: {"id": "submit"}
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
{% endblock %}
