{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/error-summary.njk" import errorSummary %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 " %}

{% block pageTitle %}Create your password{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/create/check-email" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
          errors: errorMessages,
          hrefs: {
            'password': '#password'
          }
        }) }}

        <h1 class="govuk-heading-l">Create your password</h1>

        <form class="form" action="/create/update-password" method="post">
          <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
               data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

            <div class="govuk-form-group {% if errorMessages %}govuk-form-group--error{% endif %}">
              <label for="password" class="gem-c-label govuk-label">Enter a password</label>
              <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                Must be at least 8 characters
              </div>
              {% if errorMessages %}
              <p id="national-insurance-number-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errorMessages.get('password') }}
              </p>
              {% endif %}
              <div class="gem-c-show-password__input-wrapper">
                <input name="create-password-1" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds {% if errorMessages %}govuk-input--error{% endif %}"
                       id="password" type="password" autocomplete="new-password" aria-describedby="hint-password" value="{{ value.password }}">
                <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
              </div>

            </div>

          </div>

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

      </div>
    </div>

  </div>

{% endblock %}
{% block bodyEnd %}
  <input type="hidden" value="{{ googleTagId }}" id="ga-tracking">
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/dist/govuk-all.js"></script>
  <script src="/dist/cookies.js"></script>
  <script src="/dist/show-password.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script>window.GOVSignin.CookieBanner.init()</script>
  <script>
      window.addEventListener("load", function () {
          const ShowPassword = new GOVUK.Modules.ShowPassword();
          ShowPassword.init();
      });
  </script>
{% endblock %}
