{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}

{% block beforeContent %}
    <div class="govuk-width-container">
        <p class="govuk-phase-banner__content govuk-!-margin-top-2">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
            BETA
            </strong>
            <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">
    </div>
    <div class="govuk-width-container">
        <a href="/create/enter-mobile" class="govuk-back-link">Back</a>
    </div>
{% endblock %}


{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Resend security code
                </h1>

                <p class="govuk-body">
                    If you did not receive a code, we can send you a new one.
                </p>

                <form method="post" action="/create/resend-phone-code">
                    <button id="submit" type="submit" class="govuk-button" data-module="govuk-button">
                        Resend security code
                     </button>
                </form>

                <p class="govuk-body">
                    If you no longer have access to the phone number you used to set up your account, let us know through our
                    <a class="govuk-link" id="support-form" href="https://www.sign-in.service.gov.uk/support">support form</a>
                     or 
                    <a class="govuk-link" id="slack-channel" href="https://ukgovernmentdigital.slack.com/?redir=%2Farchives%2FC02AQUJ6WTC">Slack channel</a> .

                </p>

            </div>
        </div>
    </div>
{% endblock %}