{% extends "layouts/form.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set pageTitle =  "You’ve changed the phone number" %}
{% set backLinkHtml = backLink("#", {onclick: "history.back()"}) %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">You’ve changed the phone number linked to your account</h1>
  <p class="govuk-body">We will send security codes to this phone number when you sign in.</p>
{% endblock %}
