{% extends "layouts/base.njk" %}

{% set showTopNav = false %}
{% set pageTitle = "Page not found" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Page not found</h1>
  <p class="govuk-body">If you typed the web address, check it is correct.</p>
  <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
  <p class="govuk-body">
    If the web address is correct or you selected a link or button, use our <a class="govuk-link white-space-nowrap" href="https://www.sign-in.service.gov.uk/contact-us?adminTool">support form</a> to report the problem.
  </p>
{% endblock %}
