{% extends "layout.njk" %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Add your service name" %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      serviceName: "#create-service-name"
    }
  }) }}

  <h1 class="govuk-heading-l">Add your service name</h1>
  <p class="govuk-body">Add the name of the service you want to test with GOV.UK Sign In.</p>
  <p class="govuk-body">This is only seen by you. You can change it later.</p>

  <form class="form" action="/create-service-name-validation" method="post">
    {{ govukInput({
      label: {
        text: "Service name"
      },
      name: "serviceName",
      id: "create-service-name",
      classes: "govuk-!-width-full",
      errorMessage: {
        text:  errorMessages.get('serviceName')
      } if  errorMessages else false
    }) }}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
