{% extends "layout/base.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set backLink = backLink("/forgot-password") %}
{% set pageTitle = "Check your email for a password reset link" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Check your email for a password reset link</h1>
  <p class="govuk-body">We’ve sent you an email. Click the link in the email to reset your password.</p>
  <p class="govuk-body">
    The email might take a few minutes to arrive. If you do not get an email, check your spam folder. Resend the email if necessary.
  </p>

  <form class="form" action="/check-email-password-reset" method="post">
    {{ govukButton({ text: "Resend the email", attributes: {id: "submit"}, classes: "govuk-button--secondary" }) }}
  </form>
{% endblock %}
