{% extends "layout/form.njk" %}

{% set pageTitle = "Check your email for a password reset link" %}
{% set backLinkPath = "/forgot-password" %}
{% set formAction = "/check-email-password-reset" %}
{% set formButtonText = "Resend the email" %}
{% set formButtonClasses = "govuk-button--secondary" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Check your email for a password reset link</h1>
  <p class="govuk-body">We’ve sent you an email. Click the link in the email to reset your password.</p>
  <p class="govuk-body">
    The email might take a few minutes to arrive. If you do not get an email, check your spam folder. Resend the email if necessary.
  </p>
{% endblock %}
