{% extends "layout.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% block pageTitle %}Check your email for a password reset link - GOV.UK Sign In{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ backLink("/forgot-password") }}
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your email for a password reset link</h1>
        <p class="govuk-body">We’ve sent you an email. Click the link in the email to reset your password.</p>
        <p class="govuk-body">The email might take a few minutes to arrive. If you do not get an email, check your spam folder. Resend the email if necessary.</p>
        <form class="form" action="/check-email-password-reset" method="post">
          {{ govukButton({
            text: "Resend the email",
            classes: "govuk-button--secondary"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
