{% extends "layout/form.njk" %}

{% set pageTitle = "Confirm phone number" %}
{% set backLinkPath = "/test/security-check-change-number" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Confirm the phone number currently linked to your account</h1>
{% endblock %}

{% block formInputs %}
  {{ form.mobileNumberInput("Phone number") }}
{% endblock %}
