{% extends "layout.njk" %}
{% from "./macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}

{% block pageTitle %}Create a new password - GOV.UK Sign In{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/check-email-password-reset" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ errorSummary ({
          errors: errorMessages,
          hrefs: {
            'password': '#password'
          }
        }) }}
        <h1 class="govuk-heading-l">Create a new password</h1>
        <p class="govuk-body">You can now create a new password for your account.</p>

        <form class="form" action="/create-new-password" method="post">

          <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
               data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

            {{ govukInput({
              label: {
                text: "Enter a password"
              },
              hint: {
                text: "Must be at least 8 characters. Do not use very common passwords, like ‘password’."
              },
              id: "password",
              name: "password",
              classes: "gem-c-input govuk-input govuk-input--width-20",
              value: value.password,
              type: "password",
              autocomplete: "password",
              errorMessage: {
                text: errorMessages.password
              } if errorMessages
            }) }}

          </div>

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <input type="hidden" value="{{ googleTagId }}" id="ga-tracking">
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/dist/show-password.js"></script>
  <script src="/dist/govuk-all.js"></script>
  <script src="/dist/cookies.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script>window.GOVSignin.CookieBanner.init()</script>
  <script>
      window.addEventListener("load", function () {
          const ShowPassword = new GOVUK.Modules.ShowPassword();
          ShowPassword.init();
      });
  </script>
{% endblock %}
