{% extends "layout.njk" %}
{% from "macros/back-link.njk" import backLink %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Create a new password" %}
{% set backLink = backLink("/check-email-password-reset") %}

{% block mainContent %}
  {{ errorSummary ({
    errors: errorMessages,
    hrefs: {
      password: '#password'
    }
  }) }}

  <h1 class="govuk-heading-l">Create a new password</h1>
  <p class="govuk-body">You can now create a new password for your account.</p>

  <form class="form" action="/create-new-password" method="post">
    <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
         data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
         data-hide-full-text="Hide password" data-announce-show="Your password is shown"
         data-announce-hide="Your password is hidden">

      {{ govukInput({
        label: {
          text: "Enter a password"
        },
        hint: {
          text: "Must be at least 8 characters. Do not use very common passwords, like ‘password’."
        },
        id: "password",
        name: "password",
        classes: "gem-c-input govuk-input govuk-input--width-20",
        value: value.password,
        type: "password",
        autocomplete: "password",
        errorMessage: {
          text: errorMessages.password
        } if errorMessages
      }) }}
    </div>

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
{% endblock %}
