{% extends "layout/form.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set pageTitle = "Create a new password" %}
{% set backLink = backLink("/check-email-password-reset") %}
{% set formAction = "/create-new-password" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Create a new password</h1>
  <p class="govuk-body">You can now create a new password for your account.</p>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput(hint = "Must be at least 8 characters. Do not use very common passwords, like ‘password’.") }}
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
{% endblock %}
