{% extends "layout.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set pageTitle = "Forgot your password?" %}

{% block beforeContent %}
  {{ backLink("/sign-in-password") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Forgot your password?</h1>
      <p class="govuk-body">We’ll send you an email which you can use to set up a new password.</p>
      <div class="govuk-inset-text">
        We’ll send an email to: <span class="govuk-!-font-weight-bold">{{ emailAddress }}</span>
      </div>
      {{ govukButton({
        text: "Continue",
        href: "/check-email-password-reset"
      }) }}
    </div>
  </div>
{% endblock %}
