{% extends "layout.njk" %}
{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}

{% block pageTitle %}Forgot your password? - GOV.UK Sign In {% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/sign-in-password" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Forgot your password?</h1>
        <p class="govuk-body">We’ll send you an email which you can use to set up a new password.</p>
        <div class="govuk-inset-text">
          We’ll send an email to: <span class="govuk-!-font-weight-bold">{{ emailAddress }}</span>
        </div>
        {{ govukButton({
          text: "Continue",
          href: "/check-email-password-reset"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
