{% extends "layout/base.njk" %}

{% set pageTitle = "Forgot your password?" %}
{% set backLinkPath = "/sign-in-password" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Forgot your password?</h1>
  <p class="govuk-body">We’ll send you an email which you can use to set up a new password.</p>
  <div class="govuk-inset-text">
    We’ll send an email to: <span class="govuk-!-font-weight-bold">{{ values.emailAddress }}</span>
  </div>

  {{ govukButton({ text: "Continue", href: "/check-email-password-reset" }) }}
{% endblock %}
