{% extends "layouts/base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set breadcrumbs = breadcrumbs(currentPageName = "Register your services") %}

{% block pageTitle %}Get started with GOV.UK One Login{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Get started with GOV.UK One Login</h1>
  <h2 class="govuk-heading-m">1. Check if GOV.UK One Login is right for you</h2>
  <p class="govuk-body">GOV.UK One Login is for central government services that need authentication.</p>
  <p class="govuk-body">You will also need to have development expertise in your team.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://www.sign-in.service.gov.uk/find-out-more">Find out more about GOV.UK One Login.</a></p>
  <h2 class="govuk-heading-m">2. Create an account to test GOV.UK One Login</h2>
  <p class="govuk-body">Create an account to access our test environment. This will let you see how GOV.UK One Login would work with your service.</p>
  <p class="govuk-body">You need to use your gov.uk email address.</p>

  {{ govukButton({ text: "Create account", href: "/register" }) }}

  <h2 class="govuk-heading-m">3. Request to join public beta</h2>
  <p class="govuk-body">If you think GOV.UK One Login is right for your service, you’ll be able to request to join public beta from within your GOV.UK One Login account.</p>
  <h2 class="govuk-heading-m">4. Go live</h2>
  <p class="govuk-body">Once you’ve been accepted into the public beta, you’ll need to sign our memorandum of understanding.</p>
  <p class="govuk-body">You can then go live with support from our technical team, who will be available 24/7 for urgent incidents.</p>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-m">Contact us</h2>
  <p class="govuk-body">Use our <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us?adminTool">online form</a> to report problems, ask questions or suggest improvements.</p>
  <p class="govuk-body">You can also get in touch via our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel.</a></p>
{% endblock %}
