{% extends "layouts/base.njk" %}

{% set pageTitleName = "Sorry, you cannot access this page" %}

{% block content %}

<h1 class="govuk-heading-l">Sorry, you cannot access this page</h1>

<p class="govuk-body">If you need help urgently, contact us through our
    <a class="govuk-link" href="https://www.sign-in.service.gov.uk/support">support form</a> or
    <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
</p>

{% endblock %}
