{% extends "layout/form.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set backLink = backLink("/confirm-phone-number") %}
{% set pageTitle = "Enter your new mobile phone number" %}
{% set formAction = "/new-phone-number" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Enter your new mobile phone number</h1>
  <p class="govuk-body">We will send a 6 digit security code to this number every time you sign in.</p>
  <p class="govuk-body">You must use a UK mobile phone number.</p>
{% endblock %}

{% block formInputs %}
  {{ form.mobileNumberInput() }}
{% endblock %}
