{% extends "layout.njk" %}
{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}
{% set active = "sign-in" %}

{% block pageTitle %}No account found - GOV.UK Sign In {% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/sign-in-password" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">No account found</h1>
        <p class="govuk-body">We did not find an account with those details.</p>
        <p class="govuk-body"><a class="govuk-link" href="/sign-in">Try signing in again</a> or <a class="govuk-link" href="/create/get-email">create an account</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
