{% extends "layout/base.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% set active = "sign-in" %}
{% set pageTitle = "No account found" %}
{% set backLink = backLink("/sign-in-password") %}

{% block mainContent %}
  <h1 class="govuk-heading-l">No account found</h1>
  <p class="govuk-body">We did not find an account with those details.</p>
  <p class="govuk-body"><a class="govuk-link" href="/sign-in">Try signing in again</a> or
    <a class="govuk-link" href="/create/get-email">create an account</a>.
  </p>
{% endblock %}
