{% extends "layout.njk" %}
{% from "macros/back-link.njk" import backLink %}

{% block beforeContent %}
  {{ backLink("/sign-in-otp-mobile") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Resend security code to your mobile phone
      </h1>

      <p class="govuk-body">
        If you did not receive a code, we can send you a new one.
      </p>

      <form method="post" action="/resend-text-code">
        <button id="submit" type="submit" class="govuk-button" data-module="govuk-button">
          Resend security code
        </button>
      </form>
      <p class="govuk-body">
        If you no longer have access to the phone number linked to your account, you can
        <a class="govuk-link" href="/security-check-change-number">change your phone number</a>.
        You must use another UK mobile phone number.
      </p>
    </div>
  </div>
{% endblock %}
