{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-3 govuk-main-wrapper-layout-with-left-nav" %}

{% block pageTitle %}
  Client details GOV.UK Sign In
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-body govuk-!-font-weight-bold">Dummyvalue</div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-5">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ul class="govuk-list sub_navigation_list_2">
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/service-dashboard-client-details">Client details</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Request to join private beta</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Settings</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-two-thirds">

        {% if userDetailsUpdated === 'yes' %}

          {% set html %}
            <h3 class="govuk-notification-banner__heading">
              You have updated your client details
            </h3>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: 'success'
          }) }}

        {% endif %}

        <h1 class="govuk-heading-l govuk-!-margin-top-3">Dummyvalue</h1>
        <div style="background-color: #f3f2f1;border-left: 7px solid #1d70b8" class="govuk-!-padding-4">
          <h2 class="govuk-heading-m">We have generated client details for you.</h2>
          <p class="govuk-body"> You can now use these details along with the <a class="govuk-link" href="https://docs.sign-in.service.gov.uk">technical documentation</a> to integrate with GOV.UK Sign In.</p>
          <p class="govuk-body"> You can add the missing details or change the existing ones now if you know what you’d like them to be. Or, you can do this after you’ve done the work to integrate.</p>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-5">Client details</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
              text: "Client name"
            },
              value: {
              text: "Dummyvalue"
            }
            },
            {
              key: {
              text: "Client ID"
            },
              value: {
              text: "Dummyvalue"
            }
            },
            {
              key: {
              text: "Redirect URIs"
            },
              value: {
              text: "Dummyvalue"
            }
            },
            {
              key: {
              text: "Scopes"
            },
              value: {
              html: "Dummyvalue<br>Dummyvalue<br>Dummyvalue"
            }
            },
            {
              key: {
              text: "Public key"
            },
              value: {
              text: "Dummyvalue"
            }
            },            {
              key: {
                text: "Post logout redirect URIs"
              },
              value: {
                text: "Dummyvalue"
              }
            },            {
              key: {
                text: "Sector identifier URI"
              },
              value: {
                text: "Dummyvalue"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Update details",
          classes: "govuk-button--secondary",
          href: "/service-dashboard-client-details-update"
        }) }}

      </div>

    </div>
  </div>



{% endblock %}

