{% extends "layout/base.njk" %}

{% set pageTitle = "Service unavailable" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
  <p class="govuk-body">You will be able to use the service later.</p>

  <p class="govuk-body">If you need help urgently, contact us using our
    <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us">support form</a> or via our
    <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
  </p>
{% endblock %}
