{% extends "layout/base.njk" %}

{% set pageTitle = "Session timeout" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">You need to sign in again</h1>
  <p class="govuk-body">To keep your account secure, we’ve signed you out because you did not do anything for 60 minutes.</p>

  {{ govukButton({ text: "Sign in again", href: "/sign-in", classes: "govuk-!-margin-top-2" }) }}
{% endblock %}
