{% extends "layout/form.njk" %}

{% set headerActiveItem = "sign-in" %}
{% set pageTitle = "Enter your password" %}
{% set backLinkPath = "/sign-in" %}
{% set formAction = "/sign-in-password" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Enter your password</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput("Password", autocomplete = "current-password") }}
{% endblock %}

{% block afterForm %}
  <p class="govuk-body"><a class="govuk-link" href="/forgot-password">Forgot your password?</a></p>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
{% endblock %}
