{% extends "./layout.njk" %}
{% from "macros/back-link.njk" import backLink %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set active = "sign-in" %}
{% set backLink = backLink("/sign-in") %}
{% set pageTitle = "Enter your password" %}

{% block mainContent %}
  {{ errorSummary ({
    errors: errorMessages,
    hrefs: {
      password: "#password"
    }
  }) }}

  <h1 class="govuk-heading-l">Enter your password</h1>

  <form class="form" action="/sign-in-password" method="post">
    <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
         data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
         data-hide-full-text="Hide password" data-announce-show="Your password is shown"
         data-announce-hide="Your password is hidden">

      {{ govukInput({
        label: {
          text: "Password"
        },
        name: "password",
        id: "password",
        type: "password",
        autocomplete: "new-password",
        classes: "govuk-!-width-two-thirds gem-c-input",
        value: values.password if values,
        errorMessage: {
          text:  errorMessages.password
        } if  errorMessages
      }) }}
    </div>

    {{ govukButton({ text: "Continue", attributes: {id: "submit"} }) }}

    <p class="govuk-body"><a class="govuk-link" href="/forgot-password">Forgot your password?</a></p>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
{% endblock %}
