{% extends "./layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./macros/error-summary.njk" import errorSummary %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-8 govuk-!-padding-bottom-8 " %}
{% set active = "sign-in" %}

{% block pageTitle %}Enter your password{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/sign-in" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
          errors: errorMessages,
          hrefs: {
            'password': '#password'
          }
        }) }}

        <h1 class="govuk-heading-l">Enter your password</h1>

        <form class="form" action="/sign-in-password" method="post">
          <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
               data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

            <div class="govuk-form-group {% if errorMessages %}govuk-form-group--error{% endif %}">
              <label for="password" class="gem-c-label govuk-label">Password</label>
              {% if errorMessages %}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errorMessages.password }}
                </span>
              {% endif %}
              <input name="password" class="gem-c-input govuk-input govuk-!-width-two-thirds {% if errorMessages %}govuk-input--error{% endif %}"
                     id="password" type="password" autocomplete="new-password" aria-describedby="hint-password" value="{{ values?.password }}">
            </div>

          </div>

          {{ govukButton({
            text: "Continue"
          }) }}

          <p class="govuk-body"><a class="govuk-link" href="/forgot-password">Forgot your password?</a></p>

        </form>

      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
  <script>
      window.addEventListener("load", function () {
          const ShowPassword = new GOVUK.Modules.ShowPassword();
          ShowPassword.init();
      });
  </script>
{% endblock %}
