{% extends "layout/form.njk" %}

{% set active = "sign-in" %}
{% set pageTitle = "Sign in to your GOV.UK Sign In admin account" %}
{% set formAction = "/sign-in" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Sign in to your GOV.UK Sign In account</h1>
  <p class="govuk-body">If you do not have an account, you can
    <a class="govuk-link" href="/create/get-email">create one now</a>.</p>
  <p class="govuk-body">Enter your email address to sign in.</p>
{% endblock %}

{% block formInputs %}
  {{ form.emailInput() }}
{% endblock %}
