{% extends "layout.njk" %}

{% block pageTitle %}There is a problem with the service{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">There is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                  If you need help urgently, contact us through our <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us">support form</a> or <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
