{% extends "layout/base.njk" %}

{% set pageTitle = values.pageTitle %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    You entered the wrong security code too many times
  </h1>

  <p class="govuk-body">You need to get a new code and try again.</p>

  <form method="post" action={{ values.formActionUrl }}>
    {{ govukButton({ text: "Get a new code", attributes: {id: "submit"} }) }}
  </form>

{% endblock %}

