USERPOOL_ID= # Can be found at https://eu-west-2.console.aws.amazon.com/cognito/v2/idp/user-pools?region=eu-west-2 in the second column
CLIENT_ID= # Can be found at https://eu-west-2.console.aws.amazon.com/cognito/v2/idp/user-pools/<above user pool ID>/app-integration?region=eu-west-2 at the bottom of the page in the second column
API_BASE_URL= # API ID can be found at https://eu-west-2.console.aws.amazon.com/apigateway/main/apis?region=eu-west-2 in the third column.  Substitute the value into this: https://<API ID goes here>.execute-api.eu-west-2.amazonaws.com
PORT=3000
