# Global
*   @alphagov/di-sse-approvers

# Packages
package*.json           @alphagov/di-sse-sres         @alphagov/di-sse-frontend        @alphagov/di-sse-approvers

# Infrastructure
/.github/               @alphagov/di-sse-sres         @alphagov/di-sse-approvers
/backend/               @alphagov/di-sse-sres         @alphagov/di-sse-approvers
/infrastructure/        @alphagov/di-sse-sres         @alphagov/di-sse-approvers

# Frontend
/express/src/           @alphagov/di-sse-frontend     @alphagov/di-sse-approvers
/express/tests/         @alphagov/di-sse-frontend     @alphagov/di-sse-approvers
/express/assets/        @alphagov/di-sse-frontend     @alphagov/di-sse-approvers
/express/stubs/         @alphagov/di-sse-frontend     @alphagov/di-sse-approvers

# Acceptance tests
/acceptance-tests/     	@alphagov/di-sse-frontend     @alphagov/di-sse-approvers
