version: 2
updates:
  - package-ecosystem: npm
    directories:
      - "/express"
      - "/backend/api"
      - "/backend/api/tests/contract-tests"
      - "/backend/cognito"
      - "/"
      - "/ui-automation-tests"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    labels:
      - dependabot
    commit-message:
      prefix: "BAU"
    versioning-strategy: increase
    groups:
      prod-dependencies:
        applies-to: version-updates
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        applies-to: version-updates
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@govuk-frontend"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    labels:
      - actions
      - dependabot
    commit-message:
      prefix: "BAU"
    groups:
      gha-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: docker
    directory: /infrastructure/frontend
    schedule:
      interval: daily
      time: "12:00"
    cooldown:
      default-days: 7
    target-branch: main
    labels:
      - dependabot
      - dependencies
      - docker
    commit-message:
      prefix: BAU
    ignore:
      - dependency-name: "node"
        update-types:
          - "version-update:semver-major"
