{% extends "./base-form-service-details.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Change public key" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Change your public key</h1>

  <p class="govuk-body">You need to
    <a class="govuk-link" rel="noreferrer noopener" target="_blank"
       href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/generate-a-key/">
      generate a key pair (opens in new tab)</a>
    and add the public key. This is so our services can securely send messages to each other.
  </p>

  {% if currentPublicKey %}
    {% call govukInsetText() %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Current public key</p>
      <p class="govuk-body current-public-key-container">{{ currentPublicKey }}</p>
    {% endcall %}
  {% endif %}
{% endblock %}

{% block formInputs %}
  {% set textFieldHtml %}
    {{ form.textAreaInput("Public key", "serviceUserPublicKeyText",
      "Paste in the entire public key in PEM format, including the headers"
    ) }}
  {% endset %}

  {% set fileUploadHtml %}
    {{ form.fileUploadInput("serviceUserPublicKeyFile", ".pem", "Upload a file in .PEM format") }}
  {% endset %}

  {{ form.radiosInput("Choose how to change your public key", "govuk-fieldset__legend--m", "serviceUserPublicKey",
    items = [
      {
        text: "Paste in your public key", value: "text", checked: serviceUserPublicKey == "text",
        conditional: {
          html: textFieldHtml
        }
      },
      {
        text: "Upload your public key as a file", value: "file", checked: serviceUserPublicKey == "file",
        conditional: {
          html: fileUploadHtml
        }
      }
    ]) }}
{% endblock %}
