{% extends "./layout-service-details.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set active = "client-details" %}
{% set pageTitle = "Client details" %}

{% block mainContent %}
  {% if updatedField %}
    {% call govukNotificationBanner({type: 'success'}) %}
      <h3 class="govuk-notification-banner__heading">
        You have changed your {{ updatedField }}
      </h3>
    {% endcall %}
  {% endif %}

  <h1 class="govuk-heading-l" style="margin-top: 15px">Client details</h1>
  <p class="govuk-body">This page shows the information you’ll need to make calls to the GOV.UK Sign In API.</p>
  <p class="govuk-body">To get started, follow the integration process in the
    <a href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment"
       class="govuk-link" target="_blank">technical documentation (opens in new tab)</a>. It will help you to update the client details below and use them to integrate.
  </p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Integration client</h2>

  {% set publicKeyContainer %}
    <div id="publicKeyContainer" class="govuk-body">
      <div id="publicKeyShort">{{ userPublicKey.slice(0, 24) }} ...</div>
      <div id="publicKeyLong">{{ userPublicKey }}</div>
      <button type="button" id="togglePublicKey" class="govuk-accordion__show-all">
          <span class="govuk-accordion__section-toggle-focus">
            <span id="toggleTextChevron" class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
            <span id="buttonText" class="govuk-accordion__section-toggle-text">Show the full public key</span>
          </span>
      </button>
    </div>
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Client ID"},
        value: {text: clientId}
      },
      {
        key: {text: "Redirect URIs"},
        value: {text: redirectUrls},
        actions: {
          items: [{
            href: urls.changeRedirectUris,
            text: "Change",
            visuallyHiddenText: "redirect uris"
          }]
        }
      },
      {
        key: {text: "User attributes required"},
        value: {html: userAttributesRequired},
        actions: {
          items: [{
            href: urls.changeUserAttributes,
            text: "Change",
            visuallyHiddenText: "user attributes required"
          }]
        }
      },
      {
        key: {text: "Public key"},
        value: {html: publicKeyContainer},
        actions: {
          items: [{
            href: urls.changePublicKey,
            text: "Change",
            visuallyHiddenText: "public key"
          }]
        }
      },
      {
        key: {text: "Post logout redirect URIs (optional)"},
        value: {text: postLogoutRedirectUrls},
        actions: {
          items: [{
            href: urls.changePostLogoutUris,
            text: "Change",
            visuallyHiddenText: "post logout redirect uris"
          }]
        }
      }
    ]
  }) }}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">What do these terms mean?</span>
    </summary>
    <div class="govuk-details__text">
      <span class="govuk-body govuk-!-font-weight-bold">Client ID</span>
      <p class="govuk-body">Our API uses this to uniquely identify your client when it makes requests. You cannot change this.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Redirect URIs</span>
      <p class="govuk-body">The page(s) you want your users to see after they sign in to your service.</p>

      <span class="govuk-body govuk-!-font-weight-bold">User attributes required</span>
      <p class="govuk-body">The information about your users that we send back to your service.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Public key</span>
      <p class="govuk-body">This lets our services securely send messages to each other. You need to
        <a class="govuk-link" rel="noreferrer noopener" target="_blank"
           href="https://auth-tech-docs.london.cloudapps.digital/integrate-with-integration-environment/generate-a-key/">
          generate a key pair (opens in new tab)</a>
        and add the public key.
      </p>

      <span class="govuk-body govuk-!-font-weight-bold">Post logout redirect URIs (optional)</span>
      <p class="govuk-body">The page(s) you want your users to see after they sign out of your service.</p>
    </div>
  </details>
  <div id="client-details-integration-credentials">
    <h3 class="govuk-heading-s">Details to view the end user journey in integration</h3>
    <p class="govuk-body">During the integration process, you’ll be prompted to enter the following details to see the end user journey. This is so the public do not confuse it with the live journey.</p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Username</span>: integration-user<br>
      <span class="govuk-!-font-weight-bold">Password</span>: winter2021
    </p>
  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-7 govuk-!-margin-top-7">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Production client</h2>
  <p class="govuk-body govuk-!-margin-top-3">You can add a production client if you <a class="govuk-link" href="/">join our private beta</a>.</p>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/toggle-public-key-view.js"></script>
{% endblock %}
