{% extends "./base-form-service-details.njk" %}

{% set sidebarActiveItem = "team-members" %}
{% set pageTitle = "Invite a team member" %}
{% set formCancelUrl = "/team-members" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Invite a team member</h1>
  <p class="govuk-body">We will email them an invitation link to join the [service name] service.</p>
  <p class="govuk-body">They must have an email address that ends in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>gov.uk</li>
    <li>highwaysengland.co.uk</li>
    <li>socialworkengland.org.uk</li>
  </ul>
{% endblock %}

{% block formInputs %}
  {{ form.emailInput("Government email address") }}
  {{ form.checkboxesInput("Choose their permissions", "permissions", [
    {text: "Manage team members", value: "manageTeamMembers"},
    {text: "Change integration client details", value: "changeIntegrationClientDetails"},
    {text: "Change service name", value: "changeServiceName"},
    {text: "Request to join private beta", value: "requestToJoinPrivateBeta"}
  ]) }}
{% endblock %}
