{% extends "./layout-service-details.njk" %}

{% set sidebarActiveItem = "team-members" %}
{% set pageTitle = "Invitation email sent" %}
{% set sidebarNavigationState = "disabled" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Invitation email sent</h1>
  <p class="govuk-body">We have sent an invitation link to <sapan class="govuk-!-font-weight-bold">{{ userEmail }}</sapan></p>
  <p class="govuk-body">It will expire in 1 week.</p>
  <p class="govuk-body">Go back to <a class="govuk-link" href="/team-members">team members</a>.</p>
{% endblock %}
