{% extends "../layout.njk" %}

{% set mainClasses = "govuk-!-padding-top-5 left-nav-wrapper" %}

{% block beforeContent %}
  <div class="govuk-phase-banner govuk-clearfix">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list navigation-service-change-list">
          <li class="govuk-breadcrumbs__list-item govuk-!-font-size-19">
                <a class="govuk-breadcrumbs__link" href="#">Your services</a>
          </li>
          <li class="govuk-breadcrumbs__list-item govuk-!-font-size-19 govuk-!-font-weight-bold">{{ serviceName }}</li>
      </ol>
      <a href="/change-service-name" class="govuk-link govuk-link--no-visited-state navigation-service-change govuk-!-font-size-19">Change service name</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="side-navigation govuk-!-margin-top-3">
        <ul class="govuk-list side-navigation__list">
          <li class="side-navigation__item{% if active == 'client-details' %} side-navigation__item--active{% endif %}">
            {# TODO When attached to backend to be replaced with : href="/client-details/{{serviceId}}" #}
            <a class="govuk-link govuk-link--no-visited-state" href="/client-details-mocked">Client details</a>
            {# <a class="govuk-link govuk-link--no-visited-state" href="/client-details/{{ serviceId }}">Client details</a> #}
          </li>
          <li class="side-navigation__item{% if active == 'team-members' %} side-navigation__item--active{% endif %}">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Team members</a>
          </li>
          <li class="side-navigation__item{% if active == 'private-beta' %} side-navigation__item--active{% endif %}">
            <a class="govuk-link govuk-link--no-visited-state" href="/private-beta?serviceName={{ serviceName }}">Joining private beta</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% block mainContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
