{% extends "./base-form-service-details.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set active = "private-beta" %}
{% set pageTitle = "Joining private beta" %}
{% set formButtonText = "Submit" %}
{% set formCancelUrl = "" %}
{% set hideForm = true if privateBetaRequestSubmitted %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Joining private beta</h1>

  <p class="govuk-body">If you want to go live with GOV.UK Sign In and offer it to your users, you need to join our private beta.</p>
  <p class="govuk-body">Discuss our
    <a class="govuk-link" rel="noreferrer noopener" target="_blank"
       href="https://www.sign-in.service.gov.uk/getting-started/private-beta">
      private beta guidance (opens in new tab)</a> with your team to see if it’s right for you.
  </p>

  <h2 class="govuk-heading-m">Speak to us about joining private beta</h2>

  <p class="govuk-body">Submit your details and we’ll get in touch with you about joining the private beta.</p>
  <p class="govuk-body">We’ll arrange to talk more with your team about your service and what the private beta involves.</p>

  {% if privateBetaRequestSubmitted %}
    <div class="govuk-inset-text">
      You submitted your details on {{ dateRequestSubmitted }}.
    </div>
  {% endif %}
{% endblock %}

{% if not privateBetaRequestSubmitted %}
  {% block formInputs %}
    {{ form.textInput("Your name", "yourName") }}
    {{ form.textInput("Department", "department") }}
    {{ form.hiddenInput("serviceName", serviceName) }}
  {% endblock %}

  {% block afterformInputs %}
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Information we already have</p>

    {{ govukSummaryList({
      rows: [
        {
          key: {text: "Email address"},
          value: {text: emailAddress}
        },
        {
          key: {text: "Service name"},
          value: {text: serviceName}
        }
      ]
    }) }}
  {% endblock %}
{% endif %}
