{% extends "./layout-service-details.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set active = "team-members" %}
{% set pageTitle = "Team members" %}

{% block mainContent %}

  <h1 class="govuk-heading-l">Team members</h1>
  {{ govukButton({
    text: "Invite a team member",
    href: "/invite-team-member"
  }) }}

  <div class="team-members-user-list">
    {% for user in users %}
      <div class="user-list-item {% if loop.last %}user-list-last-item{% endif %}">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">
              <span class="heading-small live-search-relevant">{{ user.userPersonalName }}</span>
              {% if user.isCurrentUser %}
                <span class="current-team-member-hint">(you)</span>
              {% endif %}
            </h2>
            <p class="govuk-body">{{ user.userEmail }}</p>
            <h3 class="govuk-heading-s">Permissions</h3>
            <ul class="govuk-list">
              {% for permission, state  in user.permissions %}
                <li>
                  <span class="{%- if state %}tick-cross-tick{% else %}tick-cross-cross{% endif -%}">
                    <span class="govuk-visually-hidden">{%- if state %}Can{% else %}Cannot{% endif -%}</span>
                    {{ permission }}
                  </span>
                </li>
              {% endfor %}
            </ul>
            {% if not user.isCurrentUser %}
              <p class="govuk-body"><a href="/change-permissions" class="govuk-link govuk-link--no-visited-state">Change permissions</a></p>
              <p class="govuk-body user-list-item-remove"><a href="/remove-team-member" class="govuk-link govuk-link--no-visited-state ">Remove team member</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if pendingInvitations %}
    <div class="team-members-pending-invitations">
      <h2 class="govuk-heading-m">Pending invitations</h2>
      {% for user in pendingInvitations %}
        {% set pendingInvitationsList %}
        <div class="user-list-pending-invitation-item">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <ul class="govuk-list">
                {% for permission, state  in user.permissions %}
                  <li>
                    <span class="{%- if state %}tick-cross-tick{% else %}tick-cross-cross{% endif -%}">
                      <span class="govuk-visually-hidden">{%- if state %}Can{% else %}Cannot{% endif -%}</span>
                     {{ permission }}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endset %}
        <p class="govuk-body">{{ user.userEmail }}</p>
        {{ govukDetails({
          summaryText: "View permissions",
          html: pendingInvitationsList
        }) }}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
