{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(errorMessages) %}
  {% set errorList = [] %}
  {% for field, message in errorMessages %}
    {% set errorList = (errorList.push({
      text: message | safe,
      href: "#" + field
    }), errorList) %}
  {% endfor %}

  {% if errorList | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}
{% endmacro %}
