{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-4 govuk-!-margin-bottom-6 govuk-!-padding-bottom-0 " %}
{% block pageTitle %}Check your mobile phone - GOV.UK Sign In{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="#" class="govuk-back-link" onclick="history.back()">Back</a>
  </div>
{% endblock %}

{%  block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
          errors: errorMessages,
          hrefs: {
            'smsOtp': '#sms-otp'
          }
        }) }}

        <h1 class="govuk-heading-l">Check your mobile phone</h1>

        <div class="govuk-inset-text">
          We sent a code to: <span class="govuk-!-font-weight-bold">{{ values.mobileNumber }}</span>
        </div>

        <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

        <form class="form" action="{{ values.formActionUrl }}" method="post">

          {{ govukInput({
            label: {
              text: "Enter the 6 digit security code"
            },
            name: "sms-otp",
            id: "sms-otp",
            classes: "govuk-input--width-5",
            type: "text",
            inputmode: "numeric",
            pattern: "[0-9]*",
            spellcheck: false,
            value: value.otp,
            errorMessage: {
              text: errorMessages.smsOtp
            } if errorMessages else false
          }) }}

          {{ govukButton({
            text: "Continue",
            attributes: {
              formnovalidate: "",
              id: "continue"
            }
          }) }}

        </form>

        <p class="govuk-body"><a class="govuk-link "href="{{ values.textMessageNotReceivedUrl }}">Problems receiving a text message?</a></p>

      </div>
    </div>
  </div>
{% endblock %}
