{% extends "layout/form.njk" %}

{% set pageTitle = "Enter the 6 digit security code from your authenticator app" %}
{% set backLinkPath = "/enter-your-password-testonly-url" %}

{% block formInputs %}
  {{ form.securityCodeInput(
    "Enter the 6 digit security code from your authenticator app",
    "govuk-label--l",
    true
  ) }}
{% endblock %}

{% block afterForm %}
  <p class="govuk-body">If you cannot get your security code, contact us using our <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us">support form</a>.</p>
{% endblock %}
