{% extends "layouts/form.njk" %}

{% set pageTitle = "Check your email" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Resume Create Account - Re-Enter Email Security Code</h1>
  <div class="govuk-inset-text">
    Because you did not reach the Stage of entering a password for your new account we need to restart from Email Security Code.
    We had previously sent an email to: <span class="govuk-!-font-weight-bold">{{ values.emailAddress }}</span>
  </div>
  <p class="govuk-body">The email contains a 6 digit security code.</p>
  <p class="govuk-body">If you did not get an email, check your spam folder.</p>
  <p class="govuk-body">The code does expire after 15 minutes in which case the code will be rejected and you will need to request another using the 'Request new code' button below.</p>
{% endblock %}

{% block formInputs %}
  {{ form.securityCodeInput() }}
{% endblock %}

{% block afterForm %}
  <p class="govuk-body">
    <a id="resend-code-page" class="govuk-link" href="/register/resend-email-code">Request new code</a>
  </p>
{% endblock %}
