{% extends "layouts/form.njk" %}

{% set pageTitle = "Resume create account" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Verify your password</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput(hint = "Should be at least 8 characters", autocomplete = "new-password") }}
{% endblock %}
