{% extends "layouts/form.njk" %}

{% set pageTitle = "Create your password" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Create your password</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput(hint = "Must be at least 8 characters", autocomplete = "new-password") }}
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
    {{ga4OnPageLoad({
      statusCode:"200",
      englishPageTitle: pageTitle,
      taxonomyLevel1: taxonomyLevel1,
      taxonomyLevel2: taxonomyLevel2Account,
      contentId:"3c44c2f0-afb5-4258-98fa-db1c50195ec5",
      loggedInStatus:false,
      dynamic:false
    })}}
{% endblock %}
