{% extends "layouts/form.njk" %}

{% set pageTitle = "Create your password" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Create your password</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput(hint = "Must be at least 8 characters", autocomplete = "new-password") }}
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
{% endblock %}
