{% extends "common/enter-email-code.njk" %}

{% set backLinkPath = "/register" %}
 {% block scripts %}
   {{ga4OnPageLoad({
     statusCode:"200",
     englishPageTitle: pageTitle,
     taxonomyLevel1: taxonomyLevel1,
     taxonomyLevel2: taxonomyLevel2Account,
     contentId:"084da2a2-7039-46fd-8e99-2cb138515c42",
     loggedInStatus:false,
     dynamic:false
   })}}
 {% endblock %}
