{% extends "layouts/form.njk" %}

{% set pageTitle = "Enter your email address" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Enter your government email address</h1>
  <p class="govuk-body">You can only use this service if you have an email address that ends in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>artscouncil.org.uk</li>
    <li>caa.co.uk</li>
    <li>gov.uk</li>
    <li>gov.wales</li>
    <li>highwaysengland.co.uk</li>
    <li>hmcts.net</li>
    <li>ibca.org.uk</li>
    <li>maps.org.uk</li>
    <li>marinemanagement.org.uk</li>
    <li>mod.uk</li>
    <li>nhs.uk</li>
    <li>ordinancesurvey.co.uk</li>
    <li>os.uk</li>
    <li>police.uk</li>
    <li>slc.co.uk</li>
    <li>socialworkengland.org.uk</li>
    <li>ukri.org</li>
    <li>uksbs.co.uk</li>
  </ul>
  <p class="govuk-body"><a class="govuk-link" href="https://www.sign-in.service.gov.uk/support">Contact us</a>
    if you have a government email address that is not covered by this list.
  </p>
{% endblock %}

{% block formInputs %}  
  {{ form.emailInput("Government email address") }}
{% endblock %}

{% block afterformInputs %}
  <h2 class="govuk-heading-m">Read our privacy notice</h2>
  <p class="govuk-body govuk-!-margin-bottom-6">By continuing, you confirm that you agree to our
    <a class="govuk-link" href="https://www.gov.uk/government/publications/govuk-one-login-privacy-notice">privacy notice</a>.
    It sets out how we use your personal information.
  </p>
{% endblock %}
