{% extends "layouts/base.njk" %}

{% set pageTitle = "You've entered too many security codes" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">You've entered the wrong security code too many times</h1>
   <h3 class="govuk-heading-m">What you can do</h3>
  <p class="govuk-body">Wait 1 hour and return to the GOV.UK One Login admin tool. If you need help urgently, contact us through our
    <a class="govuk-link" href="https://www.sign-in.service.gov.uk/contact-us?adminTool">support form</a> or
    <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
  </p>
{% endblock %}
