{% extends "layouts/base.njk" %}

{% set headerActiveItem = "sign-in" %}
{% set pageTitle = "No account found" %}
{% set backLinkPath = "/sign-in" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">No account found</h1>
  <p class="govuk-body">We did not find an account with those details.</p>
  <p class="govuk-body"><a class="govuk-link" href="/sign-in">Try signing in again</a> or
    <a class="govuk-link" href="/register">create an account</a>.
  </p>
{% endblock %}
