{% extends "layouts/form.njk" %}

{% set headerActiveItem = "sign-in" %}
{% set pageTitle = pageTitle | default("Enter your password") %}
{% set backLinkPath = backLinkPath | default("/sign-in") %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput("Password") }}
{% endblock %}

{% block afterForm %}
  <p class="govuk-body"><a class="govuk-link" href="/sign-in/forgot-password">Forgot your password?</a></p>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2Account,
    contentId:"bfc2cade-1938-4d63-91ab-063790a52289",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
