{% extends "layouts/form.njk" %}

{% set headerActiveItem = "sign-in" %}
{% set pageTitle = "Sign in to your GOV.UK One Login admin account" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Sign in to the GOV.UK One Login admin tool</h1>
  <p class="govuk-body">If you do not have an account, you can
    <a class="govuk-link" href="/register">create one now</a>.</p>
  <p class="govuk-body">Enter your email address to sign in.</p>
{% endblock %}

{% block formInputs %}
  {{ form.emailInput() }}
{% endblock %}
