{% extends "layouts/form.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set headerActiveItem = "sign-in" %}
{% set pageTitle = "Sign in to your GOV.UK One Login admin account" %}

{% block beforeForm %}
    {% call govukNotificationBanner({type: 'success'}) %}
      <h3 class="govuk-notification-banner__heading">
        You have signed out of all other devices
      </h3>
      <p class="govuk-body">You should change your password after signing in.</p>
    {% endcall %}

  <h1 class="govuk-heading-l">Sign in to the GOV.UK One Login admin tool</h1>
  <p class="govuk-body">If you do not have an account, you can
    <a class="govuk-link" href="/register">create one now</a>.</p>
  <p class="govuk-body">Enter your email address to sign in.</p>
{% endblock %}

{% block formInputs %}
  {{ form.emailInput() }}
{% endblock %}
