{% extends "common/change-phone-number.njk" %}

{% set headerActiveItem = "your-account" %}
{% set pageTitle = "Change phone number" %}
{% set formCancelUrl = "/" %}

{% set heading = "Your mobile phone number is not verified; please reenter the number" %}
