{% extends "common/resend-security-code.njk" %}

{% set headerActiveItem = "sign-in" %}
{% set securityCodeMethod = "phone" %}
{% set formButtonText = "Continue" %}
{% set backLinkPath = "/sign-in/enter-text-code" %}
