{% extends "layouts/form.njk" %}

{% set backLinkPath %}
  /services/{{ serviceId }}/clients/{{ clientId }}/{{ selfServiceClientId }}/change-redirect-uris
{% endset %}

{% set formCancelUrl = backLinkPath %}
{% set pageTitle = "Enter redirect URI" %}
{% set formButtonText = "Confirm" %}

{% block beforeForm %}
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Enter redirect URI</h1>
{% endblock %}

{% block formInputs %}
    {{ form.uriInput("", "redirectUri", "") }}
{% endblock %}
