{% extends "layouts/form.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set pageTitle = "Enter public key" %}
{% set backLinkPath %}
  /services/{{ serviceId }}/clients/
{% endset %}
{% set formCancelUrl = backLinkPath %}
{% set formButtonText = "Confirm" %}

{% block formInputs %}
  <main class="govuk-main-wrapper govuk-!-padding-top-7" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Enter public key
            </label>
          </h1>
          {{ form.textAreaInput("", "serviceUserPublicKey", "") }}
        </div>
      </div>

  </div></div></main>

{% endblock %}

 {% block scripts %}
   {{ga4OnPageLoad({
     statusCode:"200",
     englishPageTitle: pageTitle,
     taxonomyLevel1: taxonomyLevel1,
     taxonomyLevel2: taxonomyLevel2AdminTool,
     contentId:"786ad3d2-a7f4-4cee-a959-7e4eb000f40e",
     loggedInStatus:true,
     dynamic:false
   })}}
 {% endblock %}
