{% extends "layouts/form.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Change service name" %}
{% set formButtonText = "Confirm" %}
{% set formCancelUrl = "/services/" + serviceId + "/clients" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Change your service name</h1>
  <p class="govuk-body">Your service name is shown to your users in the sign in journey. For example, “Now continue to use the [service name] service.”</p>
  <p class="govuk-body">It should be your service name as used on your service start page. </p>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("Service name", "serviceName") }}
{% endblock %}
