{% extends "layouts/form.njk" %}

{% set pageTitle = "Select claims" %}
{% set backLinkPath %}
  /services/{{ serviceId }}/clients/
{% endset %}
{% set formCancelUrl = backLinkPath %}
{% set formButtonText = "Confirm" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Select claims</h1>
{% endblock %}

{% block formInputs %}
  {{ form.checkboxesInput("Select all that apply", "claims", [
    {text: "Address", value: "https://vocab.account.gov.uk/v1/address", checked: address},
    {text: "coreIdentityJWT", value: "https://vocab.account.gov.uk/v1/coreIdentityJWT", checked: coreIdentityJWT},
    {text: "Return Code", value: "https://vocab.account.gov.uk/v1/returnCode", checked: returnCode},
    {text: "Passport", value: "https://vocab.account.gov.uk/v1/passport", checked: passport},
    {text: "Driving Permit", value: "https://vocab.account.gov.uk/v1/drivingPermit", checked: drivingPermit}
  ], claims) }}
{% endblock %}
