{% extends "layouts/client-form.njk" %}

{% set pageTitle = "Change user attributes" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Change the user attributes you get</h1>

  <p class="govuk-body">Select the
    <a href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/choose-which-user-attributes-your-service-can-request/"
       class="govuk-link" target="_blank">user attributes (opens in new tab)</a> you would like your service to receive.
    These are also known as ‘scopes’ in the OpenID Connect (OIDC) specification.
  </p>
{% endblock %}

{% block formInputs %}
  {{ form.checkboxesInput("User attributes", "userAttributes", [
    {text: "Email address", value: "email", checked: email},
    {text: "Phone number", value: "phone", checked: phone},
    {
      text: "Offline access", value: "offline_access", checked: offline_access,
      hint: {
        html: "This gives you a refresh token so you can access the <code>/userinfo</code> endpoint for longer than 3 minutes"
      }
    }
  ]) }}
{% endblock %}
