{% extends "layouts/form.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Enter public key" %}
{% set backLinkPath %}
  /services/{{ serviceId }}/clients/
{% endset %}
{% set formCancelUrl = backLinkPath %}
{% set formButtonText = "Confirm" %}
{% set jwksUrlText = (jwksUrl if publicKeySource === 'JWKS' else '') %}
{% set serviceUserPublicKeyText = (serviceUserPublicKey if publicKeySource === 'STATIC' else '') %}

{% block formInputs %}
{% set jwksHtml %}
{{ form.textInput("", "jwksUrl", "govuk-!-width-full", "", "url", "url",value=jwksUrlText) }}
{% endset -%}

{% set publicKeyHtml %}
{{ form.textAreaInput("", "serviceUserPublicKey", "", serviceUserPublicKeyText) }}
{% endset -%}

{{ govukRadios({
  name: "publicKeySource",
  fieldset: {
    legend: {
      text: "Select a Key source",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "JWKS",
      text: "JWKs URL",
      checked: (publicKeySource === 'JWKS'),
      conditional: {
        html: jwksHtml
      }
    },
    {
      value: "STATIC",
      text: "Static Key",
      checked: (publicKeySource === 'STATIC'),
      conditional: {
        html: publicKeyHtml
      }
    }
  ]
}) }}

{% endblock %}
