{% extends "layouts/form.njk" %}
{% from "dist/govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Manage redirect URIs" %}
{% set addRedirectUriUrl %}
  /services/{{ serviceId }}/clients/{{ authClientId }}/{{ selfServiceClientId }}/add-redirect-uri
{% endset %}
{% set backLinkPath %}
  /services/{{ serviceId }}/clients
{% endset %}


{% block mainContent %}
  {% if updateResult %}
    {% if updateResult === "Redirect URIs updated" %}
      {% call govukNotificationBanner({type: 'success'}) %}
        <h3 class="govuk-notification-banner__heading">{{ updateResult }}</h3>
      {% endcall %}
    {% else %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: updateResult,
            href: "#"
          }
        ]
      }) }}
    {% endif %}
  {% endif %}
  <h1 class="govuk-heading-l">Manage redirect URIs</h1>
  <dl class="govuk-summary-list">
    {% for item in redirectUris %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ item }}
        </dt>
      {% if redirectUris.length > 1 %}
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/services/{{ serviceId }}/clients/{{ authClientId }}/{{ selfServiceClientId }}/confirm-redirect-uri-removal?uriToRemove={{ item | urlencode }}">Remove</a>
        </dd>
      {% endif %}
      </div>
    {% endfor %}
  </dl>
  {{ govukButton({
    text: "Add another redirect URI",
    href: addRedirectUriUrl
  }) }}
{% endblock %}
