{% extends "layouts/client.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Client details" %}

{% set userAttributes %}
  <div id="userAttributes">
    {% for item in userAttributesRequired %}
      {% if item == "openid" %}OpenID<br>{% endif %}
      {% if item == "email" %}Email address<br>{% endif %}
      {% if item == "phone" %}Phone number<br>{% endif %}
      {% if item == "offline_access" %}Offline access{% endif %}
    {% endfor %}
  </div>
{% endset %}

{% block mainContent %}
  {% if updatedField %}
    {% call govukNotificationBanner({type: 'success'}) %}
      <h3 class="govuk-notification-banner__heading">
        You have changed your {{ updatedField }}
      </h3>
    {% endcall %}
  {% endif %}

  <h1 class="govuk-heading-l">Manage {{ serviceName }}</h1>
  <p class="govuk-body">This page shows the information you need to make calls to the GOV.UK One Login API.</p>
  <p class="govuk-body">To get started, follow the integration process in the
    <a href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment"
       class="govuk-link" target="_blank">technical documentation (opens in new tab)</a>. It will help you to update the client details below and use them to integrate.
  </p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service details</h2>

  {% set clientIdContainer %}
    <code id="client-id-value">{{ clientId }}</code>
  {% endset %}

  {% set redirectUrisContainer %}
      <ul class="govuk-list" id="redirectUris">
        {% for item in redirectUris %}
          <li id="redirectUri{{ loop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>
  {% endset %}

  {% set postLogoutRedirectUrisContainer %}
    {% if postLogoutRedirectUris.length > 0 %}
      <ul class="govuk-list" id="postLogoutRedirectUris">
        {% for item in postLogoutRedirectUris %}
          <li id="postLogoutRedirectUri{{ loop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <span id="postLogoutRedirectUris">Not added yet</span>
    {% endif %}
  {% endset %}

  {% set changeServiceNameLink %}
    /services/{{ serviceId }}/clients/{{ clientId }}/{{ selfServiceClientId }}/change-service-name?serviceName={{ serviceName | urlencode }}
  {% endset %}

  {% set contactsContainer %}
    <ul class="govuk-list">
      {% for item in contacts %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {% set backChannelLogoutUriContainer %}
    {% if backChannelLogoutUri and backChannelLogoutUri.length > 0 and backChannelLogoutUri[0] !== "" %}
      <div id="backChannelLogoutUri">{{ backChannelLogoutUri }}</div>
    {% else %}
      <div id="backChannelLogoutUri">Not added yet</div>
    {% endif %}
  {% endset %}

  {% set sectorIdentifierUriContainer %}
    <div id="sectorIdentifierUri">{{ sectorIdentifierUri }}</div>
  {% endset %}

  {% set idTokenSigningAlgorithmContainer %}
    <div id="idTokenSigningAlgorithm">{{ idTokenSigningAlgorithm }}</div>
  {% endset %}

{% if identity_verification_supported %}
  {% set levelsOfConfidenceContainer %}
    <div id="levelsOfConfidence">{{ levelsOfConfidence }}</div>
  {% endset %}
{% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Name "},
        value: {text: serviceName},
        actions: {
          items: [{
            href: changeServiceNameLink,
            text: "Change",
            visuallyHiddenText: "service name"
          }]
        }
      },
      {
        key: {text: "Client ID"},
        value: {html: clientIdContainer}
      },
      {
        key: {text: "Contacts"},
        value: {html: contactsContainer},
        actions: {
          items: [{
            href: urls.changeContacts,
            text: "Change",
            visuallyHiddenText: "contacts"
          }]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Manage client</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Redirect URIs"},
        value: {html: redirectUrisContainer},
        actions: {
          items: [{
            href: urls.changeRedirectUris,
            text: "Change",
            visuallyHiddenText: "redirect uris"
          }]
        }
      },
      {
        key: {text: "Post logout redirect URIs (optional)"},
        value: {html: postLogoutRedirectUrisContainer},
        actions: {
          items: [{
            href: urls.changePostLogoutUris,
            text: "Change",
            visuallyHiddenText: "post logout redirect uris"
          }]
        }
      },
      {
        key: {text: "Back channel logout URI (optional)"},
        value: {html: backChannelLogoutUriContainer},
        actions: {
          items: [{
            href: urls.changeBackChannelLogoutUri,
            text: "Change",
            visuallyHiddenText: "Back channel logout URI"
          }]
        }
      },
      {
        key: {text: "Sector identifier URI"},
        value: {html: sectorIdentifierUriContainer},
        actions: {
          items: [{
            href: urls.changeSectorIdentifierUri,
            text: "Change",
            visuallyHiddenText: "Sector identifier URI"
          }]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">User attributes</h2>

  {% set scopesUriContainer %}
    <div id="scopesUri">
      {% for item in scopesRequired %}
        {% if item == "openid" %}OpenID<br>{% endif %}
        {% if item == "email" %}Email address<br>{% endif %}
        {% if item == "phone" %}Phone number<br>{% endif %}
      {% endfor %}
    </div>
  {% endset %}

  {% set idVerificationEnabledUriContainer %}
    {% if identityVerificationSupported %}
      <div id="idVerificationEnabledUri">
        Yes
      </div>
    {% else %}
      <div id="idVerificationEnabledUri">
        No
      </div>
    {% endif %}
  {% endset %}

  {% set claimsUriContainer %}
    <div id="claimsUri">
      {% if not claims or claims | length == 0 %}
      Not added yet
    {% else %}
      {% for item in claims %}
        {% if item == "https://vocab.account.gov.uk/v1/address" %}Address<br>{% endif %}
        {% if item == "https://vocab.account.gov.uk/v1/coreIdentityJWT" %}coreIdentityJWT<br>{% endif %}
        {% if item == "https://vocab.account.gov.uk/v1/returnCode" %}Return Code<br>{% endif %}
        {% if item == "https://vocab.account.gov.uk/v1/passport" %}Passport<br>{% endif %}
        {% if item == "https://vocab.account.gov.uk/v1/drivingPermit" %}Driving Permit<br>{% endif %}
      {% endfor %}
    {% endif %}
    </div>
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Scopes"},
        value: {html: scopesUriContainer},
        actions: {
          items: [{
            href: urls.changeScopes,
            text: "Change",
            visuallyHiddenText: "scopes"
          }]
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Prove users' identities"},
        value: {html: idVerificationEnabledUriContainer},
        actions: {
          items: [{
            href: urls.changeIdVerificationEnabledUri,
            text: "Change",
            visuallyHiddenText: "change idVerificationEnabled value"
          }]
        }
      }
    ]
  }) }}

  {% if identityVerificationSupported %}
  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Claims"},
        value: {html: claimsUriContainer},
        actions: {
          items: [{
            href: urls.changeClaims,
            text: "Change",
            visuallyHiddenText: "claims"
          }]
        }
      }
    ]
  }) }}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Client authentication</h2>

  {% set authMethodContainer %}
    <code id="auth-method-value">{{ authMethod }}</code>
  {% endset %}

  {% set publicKeyLabel %}
    <span id="public-key">
      {% if "client_secret_post" == authMethod  %}
        Client Secret Hash
      {% else %}
        Public Key
      {% endif %}
    </span>
  {% endset %}

  {% set publicKeyContainer %}
    <div id="publicKeyContainer" class="govuk-body">
      {% if displayedKey %}
        <div id="publicKeyShort" aria-labelledby="public-key"><code>{{ displayedKey.slice(0, 24) }} ...</code></div>
        <div id="publicKeyLong" class="govuk-!-display-none"><code>{{ displayedKey }}</code></div>
        <button type="button" id="togglePublicKey" class="govuk-accordion__show-all" aria-expanded="false">
          <span class="govuk-accordion__section-toggle-focus">
            <span id="toggleTextChevron" class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
            <span id="buttonText" class="govuk-accordion__section-toggle-text">
              {% if "client_secret_post" == authMethod  %}
                Show the full client secret hash
              {% else %}
                Show the full public key
              {% endif %}
            </span>
          </span>
        </button>
      {% else %}
        Not added yet
      {% endif %}
    </div>
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Authentication method"},
        value: {html: authMethodContainer}
      },
      {
        key: {html: publicKeyLabel},
        value: {html: publicKeyContainer},
        actions: {
          items: [{
            href: urls.changeKeyUri,
            text: "Change",
            visuallyHiddenText: "change key value"
          }]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Advanced options</h2>

      {% if identityVerificationSupported and levelsOfConfidenceContainer%}
    {{ govukSummaryList({
    rows: [
            {
        key: {text: "ID token signing algorithm"},
        value: {html: idTokenSigningAlgorithmContainer},
        actions: {
          items: [{
            href: urls.changeIdTokenSigningAlgorithm,
            text: "Change",
            visuallyHiddenText: "Id Token signing algorithm"
          }]
        }
      },
      {

        key: {html: "Level of confidence options"},
        value: {html: levelsOfConfidenceContainer}

      }
    ]
     }) }}
      {% else %}
      {{ govukSummaryList({
    rows: [
            {
        key: {text: "ID token signing algorithm"},
        value: {html: idTokenSigningAlgorithmContainer},
        actions: {
          items: [{
            href: urls.changeIdTokenSigningAlgorithm,
            text: "Change",
            visuallyHiddenText: "Id Token signing algorithm"
          }]
        }
      }
    ]
     }) }}
  {% endif %}



  <details class="govuk-details" data-module="govuk-details" id="client-details-summary">
    <summary class="govuk-details__summary" id="client-details-summary-toggle">
      <span class="govuk-details__summary-text">Help with API terms</span>
    </summary>
    <div class="govuk-details__text">
      <span class="govuk-body govuk-!-font-weight-bold">Back channel logouts</span>
      <p class="govuk-body">Read the <a class="govuk-link" href="https://openid.net/specs/openid-connect-backchannel-1_0.html#Backchannel">technical documents on back channel logouts</a>.</p>
      <span class="govuk-body govuk-!-font-weight-bold">Claims</span>
      <p class="govuk-body">Read the <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/before-integrating/choose-which-user-attributes-your-service-can-request/">technical documents on claims</a>.</p>
      <span class="govuk-body govuk-!-font-weight-bold">Client ID</span>
      <p class="govuk-body">Our API uses this to uniquely identify your client when it makes requests. You cannot change this.</p>

      {% if "client_secret_post" == authMethod  %}
        <span class="govuk-body govuk-!-font-weight-bold">Client secret hash</span>
        <p class="govuk-body">This lets our services securely send messages to each other. You need to
          provide your own hash value.
        </p>
      {% endif %}

      <span class="govuk-body govuk-!-font-weight-bold">ID token signing algorithm</span>
      <p class="govuk-body">Read the <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-make-a-token-request">technical documents on tokens</a>.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Post logout redirect URIs (optional)</span>
      <p class="govuk-body">The page(s) you want your users to see after they sign out of your service.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Prove users' identities</span>
      <p class="govuk-body">To prove users' identities with GOV.UK One Login you need to complete an identity memorandum of understanding before you go live. Read the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/prove-users-identity/#prove-your-user-39-s-identity/">technical documents on proving your users' identities</a>.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Public key</span>
      <p class="govuk-body">This lets our services securely send messages to each other. You need to generate a key pair and add the public key. Read the
        <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://docs.sign-in.service.gov.uk/before-integrating/generate-a-key/">
          technical documents on key pairs.</a>
      </p>

      <span class="govuk-body govuk-!-font-weight-bold">Redirect URIs</span>
      <p class="govuk-body">Identity details of the page you want your users to see after they sign in to your service.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Scopes</span>
      <p class="govuk-body">Read the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                href="https://docs.sign-in.service.gov.uk/before-integrating/choose-which-user-attributes-your-service-can-request/">technical documents on scopes</a>.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Sector identifier URI</span>
      <p class="govuk-body">Read the <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/before-integrating/set-up-your-service-s-configuration/#set-up-your-service-s-configuration-with-gov-uk-one-login">technical documents on sector identifier URIs</a>.</p>

      <span class="govuk-body govuk-!-font-weight-bold">Token authentication method</span>
      <p class="govuk-body">Read the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#authenticate-your-user">
                                                technical documents on token authentication methods.</a></p>

      <span class="govuk-body govuk-!-font-weight-bold">User attributes required</span>
      <p class="govuk-body">The information about your users that we send back to your service.</p>

    </div>
  </details>
  <div id="client-details-integration-credentials">
    <h3 class="govuk-heading-s">Details to view the end user journey in integration</h3>
    <p class="govuk-body">During the integration process, you’ll be prompted to enter the following details to see the end user journey. This is so the public do not confuse it with the live journey.</p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Username</span>: integration-user<br>
      <span class="govuk-!-font-weight-bold">Password</span>: winter2021
    </p>
  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-7 govuk-!-margin-top-7">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Production client</h2>
  <p class="govuk-body govuk-!-margin-top-3">You can add a production client if you <a class="govuk-link" href="/services/{{ serviceId }}/clients/{{ clientId }}/{{ selfServiceClientId }}/public-beta">join our public beta</a>.</p>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/toggle-public-key-view.js"></script>
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2AdminTool,
    contentId:"39c305b0-4e95-41c1-95cb-d46ea0307bf0",
    loggedInStatus:true,
    dynamic:false
  })}}
{% endblock %}
