{% extends "layouts/form.njk" %}
{% from "dist/govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dist/govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Change client secret hash" %}
{% set backLinkPath %}
  /services/{{ serviceId }}/clients/
{% endset %}
{% set formCancelUrl = backLinkPath %}
{% set formButtonText = "Confirm" %}

{% set secretHashBlock %}
  <p class="govuk-body govuk-!-static-margin-bottom-0 govuk-!-font-weight-bold">Current secret hash</p>
  <p class="govuk-body govuk-!-static-margin-bottom-0" id="current-secret-hash">{{ secretHash }}</p>
{% endset %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Enter client secret hash</h1>

  {{ govukInsetText({
    html: secretHashBlock
  }) if secretHash }}
{% endblock %}

{% block formInputs %}
  {{ form.textAreaInput("", "secretHash",
    ""
  ) }}
{% endblock %}
