{% extends "layouts/form.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Enter Identity Verification" %}

{% set backLinkPath %}
  /services/{{ serviceId }}/clients/
{% endset %}

{% set formCancelUrl = backLinkPath %}

{% set formButtonText = "Confirm" %}

{% block formInputs %}
  {{ form.radiosInput(
      "Do you need to prove your users' identities?",
      "govuk-fieldset__legend--l",
      name = "identityVerificationSupported",
      items = [
        {
            text: "Yes",
            value: "yes",
            hint: {
                text: "If you need identity verification, it is strongly recommended that you set a landing page URI to ensure that users can be returned to your service after in-person identity checks."
                }
        },
        {text: "No", value: "no"}
      ],
      isPageHeading = true
    ) }}
{% endblock %}
