{% extends "layouts/client-form.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set sidebarActiveItem = "public-beta" %}
{% set pageTitle = "Register to join public beta" %}
{% set formButtonText = "Submit" %}
{% set formCancelUrl = "" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">Register to join public beta</h1>
  <p class="govuk-body">There are a few steps to getting your service live with GOV.UK One Login.</p>
  <p class="govuk-body">These include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>telling us more about your service, using the form below</li>
    <li>agreeing to the Memorandum of Understanding - this needs to be done by a deputy director or above and may need to go to your legal department first </li>
    <li>setting up in our production environment</li>
    <li>agreeing a go-live date with us</li>
  </ul>
  <p class="govuk-body">We'll then talk more with your team about getting ready to join public beta.</p>
  <h2 class="govuk-heading-m">Tell us more about your service</h2>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("Your full name", "userName") }}
  {{ form.emailInput("Email address", value = emailAddress, disabled = true) }}
  {{ form.textInput("Role ", "role") }}
  {{ form.textInput("Organisation name", "organisationName") }}
  {{ form.textInput("Service name", "serviceNameDisplayOnly", value = serviceName, disabled = true) }}
  {{ form.textInput("Service URL, if live", "serviceUrl") }}
  {{ form.textAreaInput("Service description", "serviceDescription", "Include who uses it and what they use it for") }}
  {{ form.radiosInput("How will your service use GOV.UK One Login?", name = "serviceUse",
    items = [
      {text: "To sign users in", value: "signUsersIn"},
      {text: "To sign users in and check their identity", value: "signUsersInAndCheckIdentity"}
    ])
  }}
  {{ form.radiosInput("Do you need to migrate existing user accounts?", name = "migrateExistingAccounts",
    items = [
      {text: "Yes", value: "yes"},
      {text: "No", value: "no"},
      {text: "Not sure", value: "notSure"}
    ])
  }}
  {{ form.radiosInput("Number of users each year", name = "numberOfUsersEachYear",
    items = [
      {text: "1 to 1,000", value: "range1To1000"},
      {text: "1,001 to 50,000", value: "range1001To50000"},
      {text: "50,001 to 250,000", value: "range50001To250000"},
      {text: "250,001 to 1 million", value: "range250001To1Million"},
      {text: "Over 1 million users", value: "rangeOver1Million"},
      {text: "Not sure", value: "notSure"}
    ])
  }}
  {{ form.dateInput("What's your target date to go live with GOV.UK One Login?", "targetDate") }}

  {{ form.hiddenInput("serviceName", serviceName) }}
{% endblock %}

 {% block scripts %}
   {{ga4OnPageLoad({
     statusCode:"200",
     englishPageTitle: pageTitle,
     taxonomyLevel1: taxonomyLevel1,
     taxonomyLevel2: taxonomyLevel2AdminTool,
     contentId:"4e82ef48-2141-45a0-9993-8c4a397a06df",
     loggedInStatus:true,
     dynamic:false
   })}}
 {% endblock %}

