{% extends "layouts/account.njk" %}

{% set headerActiveItem = "your-account" %}
{% set sidenavActiveItem = "your-services-sidenav" %}
{% set pageTitle = "Your services" %}

{% block mainContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">
    Your services
  </h1>

  {% for service in services %}
    <p>
      <a class="govuk-body-l govuk-!-font-weight-bold govuk-link--no-visited-state"
         href="/services/{{ service.id }}/clients">{{ service.serviceName }}</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
  {% endfor %}

  {% if showTestBanner %}
    {{ govukButton({
      text: "Add a new service",
      href: "/services/add-new-service"
    }) }}
  {% endif %}
  
{% endblock %}
 {% block scripts %}
   {{ga4OnPageLoad({
     statusCode:"200",
     englishPageTitle: pageTitle,
     taxonomyLevel1: taxonomyLevel1,
     taxonomyLevel2: taxonomyLevel2AdminTool,
     contentId:"6097967c-64a6-4ab4-9a81-58232320e817",
     loggedInStatus:true,
     dynamic:false
   })}}
 {% endblock %}
