{% extends '../layout.njk' %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Create your password
                </h1>

                <form action="/create/update-password" , method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            Enter a password
                        </label>
                        <span id="password-hint" class="govuk-hint">
         It must be at least 8 characters long and must include at least one number.
        </span>

                        <input class="govuk-input govuk-input--width-20" id="password" name="create-password-1"
                               type="password" spellcheck="false" aria-describedby="password-hint"
                               autocomplete="new-password">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="confirmPassword">
                            Re-type password
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="confirmPassword" name="create-password-2"
                               type="password" spellcheck="false" autocomplete="new-password">
                    </div>

                    {{ govukDetails({
                        summaryText: "How to create a secure password",
                        html: "<p>A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p> "
                    }) }}

                    <h2 class="govuk-heading-m">Agree to our terms of use</h2>

                    <p>We will collect and save your information securely. We will not share your personal information
                        without your consent.</p>

                    <p>By continuing, you confirm that you agree to our <a href="javascript:void(0)">privacy notice</a>
                        and
                        our <a href="javascript:void(0)">terms and conditions.</a></p>

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}
