{% extends "layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set headerActiveItem = "your-account" %}
{% set pageTitle = "Your account" %}
{% set mainClasses = "account-summary" %}

{% block mainContent %}
  {% if updatedField %}
    {% call govukNotificationBanner({type: "success"}) %}
      <h3 class="govuk-notification-banner__heading">
        You have changed your {{ updatedField }}
      </h3>
    {% endcall %}
  {% endif %}

  <h1 class="govuk-heading-l">Your account</h1>
  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Email address"},
        value: {text: emailAddress}
      },
      {
        key: {text: "Mobile phone number"},
        value: {text: mobilePhoneNumber},
        actions: {
          items: [{
            href: '/change-phone-number',
            text: "Change",
            visuallyHiddenText: "mobile phone number"
          }]
        }
      },
      {
        key: {text: "Password"},
        value: {text: passwordLastChanged},
        actions: {
          items: [{
            href: '/change-password',
            text: "Change",
            visuallyHiddenText: "password"
          }]
        }
      }
    ]
  }) }}

{% endblock %}
