{% extends "layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set headerActiveItem = "your-account" %}
{% set pageTitle = "Your account" %}
{% set mainClasses = "account-summary" %}

{% if current2FA === "authenticator" %}
  {% set current2FAValue = "Authenticator app" %}
{% endif %}

{% if current2FA === "textMessage" %}
  {% set current2FAValue = "Text message to " + mobilePhoneNumber %}
{% endif %}

{% set current2FAFRow = {
  key: {text: "How you get security codes"},
  value: {text: current2FAValue},
  actions: {
    items: [{
      href: '/change-from-app',
      text: "Change",
      visuallyHiddenText: "2FA method"
    }]
  }
} %}

{% block mainContent %}
  {% if updatedField %}
    {% call govukNotificationBanner({type: "success"}) %}
      <h3 class="govuk-notification-banner__heading">
        You have changed your {{ updatedField }}
      </h3>
    {% endcall %}
  {% endif %}

  <h1 class="govuk-heading-l">Your account</h1>
  {{ govukSummaryList({
    rows: [
      {
        key: {text: "Email address"},
        value: {text: emailAddress}
      },
      current2FAFRow,
      {
        key: {text: "Mobile phone number"},
        value: {text: mobilePhoneNumber},
        actions: {
          items: [{
            href: '/change-phone-number',
            text: "Change",
            visuallyHiddenText: "mobile phone number"
          }]
        }
      },
      {
        key: {text: "Password"},
        value: {text: passwordLastChanged},
        actions: {
          items: [{
            href: '/change-password',
            text: "Change",
            visuallyHiddenText: "password"
          }]
        }
      }
    ]
  }) }}

{% endblock %}
