{% extends "layout/base.njk" %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set active = "your-account" %}
{% set pageTitle = "Change service name" %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      serviceName: "#serviceName"
    }
  }) }}
  <h1 class="govuk-heading-l">Change your service name</h1>
  <p class="govuk-body">Your service name is shown to your users in the sign in journey. For example, “Now continue to use the [service name] service.”</p>
  <p class="govuk-body">It should be your service name as used on your service start page. </p>

  <form class="form" action="/change-service-name" method="post">
    {{ govukInput({
      label: {
        text: "Service name"
      },
      name: "serviceName",
      id: "serviceName",
      classes: "govuk-!-width-full",
      value: serviceName,
      errorMessage: {
        text:  errorMessages.get('serviceName')
      } if  errorMessages else false
    }) }}

   {{ govukInput({ type: "hidden", value: selfServiceClientId, id: "selfServiceClientId", name: "selfServiceClientId" }) }}
   {{ govukInput({ type: "hidden", value: clientId, id: "clientId", name: "clientId" }) }}
   {{ govukInput({ type: "hidden", value: clientServiceId, id: "clientServiceId", name: "clientServiceId" }) }}

    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm", attributes: {id: "submit"} }) }}
      <a class="govuk-link" href="/client-details/{{ selfServiceClientId }}">Cancel</a>
    </div>
  </form>
{% endblock %}
