{% extends "layout/base.njk" %}
{% from "macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set active = "your-account" %}
{% set pageTitle = "Change email address" %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      emailAddress: "#emailAddress"
    }
  }) }}

  <h1 class="govuk-heading-l">Change your email address</h1>

  <form class="form" action="/change-email-address" method="post">
    {{ govukInput({
      label: {
        text: "Email address"
      },
      hint: {
        text: "Must be a government email address"
      },
      name: "emailAddress",
      id: "emailAddress",
      classes: "govuk-!-width-full",
      value: emailAddress,
      errorMessage: {
        text:  errorMessages.get('emailAddress')
      } if  errorMessages else false
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm" }) }}
      <a class="govuk-link" href="/account">Cancel</a>
    </div>
  </form>
{% endblock %}
