{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-6 govuk-!-margin-bottom-0 govuk-main-wrapper-layout-no-left-nav-account" %}
{% set active = 'your-account' %}

{% block pageTitle %}
  Change password - GOV.UK Sign In
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ errorSummary ({
          errors:  errorMessages,
          hrefs: {
            'password': '#password',
            'currentPassword': '#currentPassword'

          }
        }) }}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Add your new password</h1>

        <form class="form" action="/change-password" method="post">
          <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
               data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

            {{ govukInput({
              label: {
                text: "Current password"
              },
              id: "currentPassword",
              name: "currentPassword",
              classes: "gem-c-input govuk-input govuk-input--width-20",
              value: value.currentPassword,
              type: "password",
              autocomplete: "current-password",
              errorMessage: {
                text: errorMessages.get('currentPassword')
              } if errorMessages and errorMessages.has('currentPassword')
            }) }}

          </div>

          <div class="gem-c-show-password-2" data-module="show-password" data-disable-form-submit-check="false"
               data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

            {{ govukInput({
                label: {
                  text: "Enter a new password"
                },
                hint: {
                  text: "Must be at least 8 characters"
                },
                id: "password",
                name: "password",
                value: value.password,
                classes: "gem-c-input-2 govuk-input govuk-input--width-20",
                type: "password",
                autocomplete: "new-password",
                errorMessage: {
                  text: errorMessages.get('password')
                } if errorMessages and errorMessages.has('password')
              }) }}

          </div>

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm"
            }) }}
            <a class="govuk-link" href="/account">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="/dist/show-password.js"></script>
  <script src="/dist/show-password-two-fields.js"></script>
  <script>
      window.addEventListener("load", function () {
          const ShowPassword = new GOVUK.Modules.ShowPassword();
          ShowPassword.init();
      });
      window.addEventListener("load", function () {
          const ShowPassword2 = new GOVUK.Modules.ShowPassword2();
          ShowPassword2.init();
      });
  </script>
{% endblock %}
