{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set active = "your-account" %}
{% set pageTitle = "Change password" %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      password: "#password",
      currentPassword: "#currentPassword"
    }
  }) }}

  <h1 class="govuk-heading-l">Add your new password</h1>

  <form class="form" action="/change-password" method="post">
    <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
         data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
         data-hide-full-text="Hide password" data-announce-show="Your password is shown"
         data-announce-hide="Your password is hidden">

      {{ govukInput({
        label: {
          text: "Current password"
        },
        id: "currentPassword",
        name: "currentPassword",
        classes: "gem-c-input govuk-input govuk-input--width-20",
        value: value.currentPassword,
        type: "password",
        autocomplete: "current-password",
        errorMessage: {
          text: errorMessages.get("currentPassword")
        } if errorMessages and errorMessages.has("currentPassword")
      }) }}
    </div>

    <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
         data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password"
         data-hide-full-text="Hide password" data-announce-show="Your password is shown"
         data-announce-hide="Your password is hidden">

      {{ govukInput({
        label: {
          text: "Enter a new password"
        },
        hint: {
          text: "Must be at least 8 characters"
        },
        id: "password",
        name: "password",
        value: value.password,
        classes: "gem-c-input govuk-input govuk-input--width-20",
        type: "password",
        autocomplete: "new-password",
        errorMessage: {
          text: errorMessages.get("password")
        } if errorMessages and errorMessages.has("password")
      }) }}
    </div>

    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm", attributes: {id: "submit"} }) }}
      <a class="govuk-link" href="/account">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
{% endblock %}
