{% extends "../layout-dashboard.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-3 govuk-!-margin-bottom-0 govuk-main-wrapper-layout-no-left-nav-account" %}
{% set active = 'your-account' %}

{% block pageTitle %}
  Change service name - GOV.UK Sign In
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ errorSummary ({
          errors:  errorMessages,
          hrefs: {
            'serviceName': '#serviceName'
          }
        }) }}
        <form class="form" action="/change-service-name" method="post">
          {{ govukInput({
            label: {
              text: "Change your service name",
              classes: "govuk-label--l govuk-!-margin-top-4 govuk-!-margin-bottom-4",
              isPageHeading: true
            },
            name: "serviceName",
            id: "serviceName",
            classes: "govuk-!-width-full",
            value: serviceName,
            errorMessage: {
              text:  errorMessages.get('serviceName')
            } if  errorMessages else false
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm"
            }) }}
            <a class="govuk-link" href="/account">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
