{% extends "layouts/form.njk" %}

{% set headerActiveItem = "your-account" %}
{% set pageTitle = "Change password" %}
{% set formButtonText = "Confirm" %}
{% set formCancelUrl = "/account" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Add your new password</h1>
{% endblock %}

{% block formInputs %}
  {{ form.passwordInput("Current password", "currentPassword") }}
  {{ form.passwordInput("Enter a new password", "newPassword", hint = "Must be at least 8 characters", autocomplete = "new-password") }}
{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/show-password.js"></script>
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2AdminTool,
    contentId:"348d5bae-320c-40c6-ad78-01ef980d77fd",
    loggedInStatus:true,
    dynamic:false
  })}}
{% endblock %}
