{% extends "layout/form.njk" %}

{% set active = "your-account" %}
{% set pageTitle = "Change email address" %}
{% set formAction = "/change-email-address" %}
{% set formButtonText = "Confirm" %}
{% set formCancelUrl = "/account" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Change your email address</h1>
{% endblock %}

{% block formInputs %}
  {{ form.emailInput(hint = "Must be a government email address", classes = "govuk-!-width-full") }}
{% endblock %}
