{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set active = "your-account" %}
{% set pageTitle = "Change service name" %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      serviceName: "#serviceName"
    }
  }) }}

  <form class="form" action="/change-service-name" method="post">
    {{ govukInput({
      label: {
        text: "Change your service name",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      name: "serviceName",
      id: "serviceName",
      classes: "govuk-!-width-full",
      value: serviceName,
      errorMessage: {
        text:  errorMessages.get('serviceName')
      } if  errorMessages else false
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm" }) }}
      <a class="govuk-link" href="/account">Cancel</a>
    </div>
  </form>
{% endblock %}
