$govuk-new-link-styles: true;
@import "govuk-frontend/govuk/all";
@import "modules/responsive-embed";
@import "modules/borders";
@import "modules/breadcrumbs";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/image";
@import "modules/inverted-button";
@import "modules/masthead";
@import "modules/navigation";
@import "modules/related-items";
@import "modules/side-navigation";
@import "modules/show-password";
@import "modules/tick-cross";

@media (min-width: 415px) {
  div.feature-row {
    display: flex;
    align-items: stretch;
  }

  div.feature-column {
    display: flex;
    align-items: stretch;
  }
}

div.feature-panel {
  text-align: left;
  border: 3px solid #F3F2F1;
  box-sizing: border-box;
}

@media(min-width: 769px) {
  div.feature-panel {
    min-height: 250px;
  }
}

@media(max-width: 768px) {
  div.feature-panel {
  }
  div.hero__aside-image {
    display: none;
  }
}

// scss-lint:enable IdSelector
.hero-alternative-action {
  @include govuk-font($size: 19);
  white-space: nowrap;
  margin-bottom: govuk-spacing(3);
  position: relative;

  @include govuk-media-query(tablet) {
    top: govuk-spacing(2);
    margin-left: govuk-spacing(3);
  }
}

.hero-breadcrumb-banner {
  background-color: $govuk-brand-colour;
}

@media (max-width: 732px) {
  #index-hero-body {
    .govuk-button {
      margin-bottom: 12px;
    }

    .hero-alternative-action {
      display: block;
      margin-left: 0;
      margin-bottom: 20px;
      top: 0;
    }
  }
}

#main-content.left-nav-wrapper {
  .side-navigation__item {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 5px;
  }

  .side-navigation__item:last-child {
    border-bottom: none;
  }

  .side-navigation__list .side-navigation__item {
    padding: 4px 0 7px 0;
  }

  .govuk-list-decide {
    padding-left: 32px;
  }

  .evaluate-contact-us-decide {
    border-top: 1px $govuk-border-colour solid;
    padding-top: 40px;
  }

  .evaluate-last-paragraph-decide {
    padding-bottom: 30px;
  }

  .evaluate-border-bottom-paragraph-decide {
    padding-bottom: 45px;
    margin-bottom: 35px;
    border-bottom: 1px $govuk-border-colour solid;
  }
}

@media (min-width: 640px) {
  #main-content.govuk-main-wrapper-evaluate .govuk-grid-column-one-third {
    width: 25%;
  }

  #main-content .manage-account-content-container {
    min-height: 450px;
  }
}

code {
  background: #f5f5f5;
  padding: 3px 5px;
  border-radius: 1px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  line-height: 1.4;
  color: #a71d5d;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 17px;
}

@media (min-width: 920px) {
  #main-content.account-summary,
  #main-content.left-nav-wrapper {
    .govuk-summary-list__key {
      width: 50%;
      padding-right: 18px;
    }

    .govuk-summary-list__value {
      width: 72%;
      padding-right: 10px;
    }

    .govuk-summary-list__row--no-actions::after {
      width: 16%;
    }
  }
}

.current-public-key-container {
  overflow-wrap: break-word;
}

.govuk-width-container .govuk-phase-banner {
  margin-top: 10px;
  padding-bottom: 10px;
}

.navigation-service-change {
  float: right;
}

.navigation-service-change-list {
  float: left;
}

#client-details-integration-credentials {
  border-top: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
  border-left: 5px solid $govuk-link-colour;
  padding: 24px 24px 0 24px;
}

#publicKeyContainer {
  #publicKeyLong {
    display: none;
  }

  #togglePublicKey {
    border: none;
    background: none;
    font-weight: 400;
    color: $govuk-link-colour;
    cursor: pointer;
    padding-left: 0;
    margin-bottom: 0;
  }

  #togglePublicKey:hover {
    box-shadow: none;
  }

  #togglePublicKey:focus {
    color: $govuk-text-colour;
    background-color: $govuk-focus-colour;
    -webkit-box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-text-colour;
    box-shadow: rgb(255, 221, 0) 0px -2px, rgb(11, 12, 12) 0px 4px;
  }
}

.user-list-item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: 6px;
  margin-bottom: 30px;

  .current-team-member-hint {
    font-weight: normal;
  }
  h2 {
    margin-bottom: 10px;
  }
  p.govuk-body {
    margin-bottom: 8px;
  }
  h3 {
    margin-bottom: 6px;
  }
  li {
    margin-bottom: 0;
  }
  p.user-list-item-remove {
    margin-bottom: 25px;
    a {
      color: $govuk-error-colour;
    }
  }
}

.user-list-last-item {
  margin-bottom: 50px;
}

.team-members-pending-invitations {
  p.govuk-body {
    margin-bottom: 12px;
  }
}

.left-nav-service-details h1 {
  margin-top: 15px;
}

.govuk-inset-text {
  overflow-wrap: break-word;
}

#qrCodeImage {
  width: 175px;
  height: 175px;
}

.test-banner {
  .govuk-tag {
    color: #594D00;
    background-color: #FFF7BF;
  }
  .govuk-header__container {
    border-bottom: 10px solid govuk-colour("yellow");
  }
}
