{% extends "../layout.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-3 govuk-!-margin-bottom-0 govuk-main-wrapper-layout-with-left-nav" %}

{% block pageTitle %}
  Change post logout redirect URis - GOV.UK Sign In
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-body govuk-!-font-weight-bold">My juggling service</div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-5">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation govuk-!-margin-top-3">
          <ul class="govuk-list sub_navigation_list_2">
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/client-details/{{serviceId}}">Client details</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Joining private beta</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-two-thirds">

        {{ errorSummary ({
          errors:  errorMessages,
          hrefs: {
            'postLogoutURIs': '#postLogoutURIs'
          }
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-top-3">Change your post logout redirect URIs</h1>

        <p class="govuk-body">Add the URI for the page you want your users to see after they sign out of your service.</p>
        <p class="govuk-body">You can add multiple post logout redirect URIs if you want different groups of users to see different pages once they sign out of your service. To do this, enter the URIs separated by a space.</p>
        <p class="govuk-body">If you do not specify one, your users will be redirected to the <a class="govuk-link" href="https://signin.account.gov.uk/signed-out">default GOV.UK sign out page</a>.</p>

        <form class="form" action="/change-post-logout-URIs/{{serviceId}}/{{selfServiceClientId}}/{{clientId}}" method="post">

          {{ govukInput({
            label: {
              text: "Post logout redirect URIs"
            },
            hint: {
              text: "Enter URIs starting with https://"
            },
            name: "postLogoutURIs",
            id: "postLogoutURIs",
            classes: "govuk-!-width-full",
            value: value,
            errorMessage: {
              text:  errorMessages.get('postLogoutURIs')
            } if  errorMessages else false
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm"
            }) }}
            <a class="govuk-link" href="/client-details/{{ serviceId }}">Cancel</a>
          </div>

        </form>


      </div>

    </div>
  </div>



{% endblock %}

