{% extends "./layout-service-details.njk" %}
{% from "../macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set active = "client-details" %}

{% block pageTitle %}Change public key - GOV.UK Sign In{% endblock %}

{% block mainContent %}
  {{ errorSummary ({
    errors:  errorMessages,
    hrefs: {
      "serviceUserPublicKey": "#serviceUserPublicKey"
    }
  }) }}

  <h1 class="govuk-heading-l govuk-!-margin-top-3">Change your public key</h1>

  <p class="govuk-body">You need to <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/generate-a-key/">generate a key pair (opens in new tab)</a> and add the public key. This is so our services can securely send messages to each other.</p>

  <h2 class="govuk-heading-m">Paste in your public key</h2>

  <form class="form" action="/change-public-key/{{ serviceId }}/{{ selfServiceClientId }}/{{ clientId }}" method="post">
    {{ govukTextarea({
      name: "serviceUserPublicKey",
      id: "serviceUserPublicKey",
      label: {
        text: "Public key"
      },
      hint: {
        text: "Paste in the entire public key in PEM format, including the headers"
      },
      value: value,
      errorMessage: {
        text:  errorMessages.get('serviceUserPublicKey')
      } if  errorMessages else false
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({text: "Confirm"}) }}
      <a class="govuk-link" href="/client-details/{{ serviceId }}">Cancel</a>
    </div>
  </form>
{% endblock %}
