.govuk-header__content {
  @include govuk-media-query($from: desktop) {
    width: 48%;
  }
}

.govuk-header__logo {
  @include govuk-media-query($from: desktop) {
    width: 52%;
    .govuk-header__link--homepage {
      min-width: 464px;
      display: block;
    }
  }
  .govuk-phase-banner__content__tag {
    margin-left: 8px;
    position: relative;
    bottom: 2px;
  }
}


@media (min-width: 769px) and (max-width: 1010px) {
  .govuk-header__logo {
    width: 55%;
    padding-right: 0;
    padding-top: 14px;
    .govuk-header__link--homepage {
      min-width: 464px;
      display: block;
    }
  }
  .govuk-header__content {
    width: 45%;
    padding-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 812px) {
  .govuk-header__content {
    .govuk-header__navigation {
      padding-left: 90px;
    }
  }
  .govuk-header__link--homepage {
    min-width: 464px;
    display: block;
  }
}
