{% extends "../enter-password.njk" %}

{% set pageTitle = "Enter your password again to resend the security code" %}
{% set backLinkPath = "/sign-in/resend-text-code" %}
{% set formButtonText = "Resend security code" %}
