{% extends "layouts/form.njk" %}

{% set formBaseLayout = "./client.njk" %}
{% set formCancelUrl = formCancelUrl | default("/services/" + serviceId + "/clients") %}
{% set formButtonText = formButtonText | default("Confirm") %}
