name: Build frontend image

on:
  workflow_call:
    inputs:
      artifact-name: { required: true, type: string }
    outputs:
      image-uri:
        value: ${{ jobs.build.outputs.image-uri }}

concurrency:
  group: push-frontend-image-development-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Push image
    runs-on: ubuntu-latest
    outputs:
      image-uri: ${{ steps.push-image.outputs.image-uri }}

    environment:
      name: development
      url: ${{ steps.push-image.outputs.image-url }}

    steps:
      - name: Login to GDS Dev Dynatrace Container Registry
        uses: docker/login-action@v3
        with:
          registry: khw46367.live.dynatrace.com
          username: khw46367
          password: ${{ secrets.DYNATRACE_PAAS_TOKEN }}
      - name: Push Docker image
        uses: alphagov/di-github-actions/aws/ecr/build-docker-image@081ce732d75690781b1eb82d85ee11b45934c51e
        id: push-image
        with:
          image-version: ${{ github.sha }}
          aws-role-arn: ${{ vars.DEPLOYMENT_ROLE_ARN }}
          repository: ${{ vars.FRONTEND_CONTAINER_IMAGE_REPOSITORY }}
          image-tags: ${{ github.head_ref || github.ref_name }}
          dockerfile: infrastructure/frontend/Dockerfile
          artifact-name: ${{ inputs.artifact-name }}
          artifact-path: express/dist
