name: Build frontend app

on:
  workflow_call:
    inputs:
      artifact-name: { required: false, type: string, default: Frontend-Node }
    outputs:
      artifact-name:
        value: ${{ inputs.artifact-name }}

concurrency:
  group: build-frontend-${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: { }

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run: { working-directory: express }

    steps:
      - name: Pull repository
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          cache: npm

      - name: Install Node dependencies
        run: npm install --include-workspace-root

      - name: Build app
        run: npm run build

      - name: Archive distribution artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          retention-days: 7
          path: express/dist
