name: Delete a SAM stack

on:
  workflow_call:
    inputs:
      component: { required: true, type: string }

concurrency: deploy-${{ inputs.component }}-development-${{ github.head_ref || github.ref_name }}

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Delete
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Get stack name
        uses: govuk-one-login/github-actions/beautify-branch-name@299bdda5b093a5d13c76e4d0f97f59bc727b4e03 # 28/06/2023
        id: get-stack-name
        with:
          usage: Stack name
          prefix: preview-${{ inputs.component }}
          length-limit: 128

      - name: Delete stack
        uses: govuk-one-login/github-actions/sam/delete-stacks@299bdda5b093a5d13c76e4d0f97f59bc727b4e03 # 28/06/2023
        with:
          aws-role-arn: ${{ vars.DEPLOYMENT_ROLE_ARN }}
          stack-names: ${{ steps.get-stack-name.outputs.pretty-branch-name }}
