name: Deploy branch preview

on: workflow_dispatch

jobs:
  build-front-app:
    name: Build
    uses: ./.github/workflows/build-front-app.yml

  deploy-front-preview-paas:
    name: Preview
    needs: build-front-app
    uses: ./.github/workflows/deploy-to-paas.yml
    with:
      environment: preview
      cf-space-name: self-service-preview
      app-name-prefix: di-sse-prev
      cognito-client: StubCognitoClient
      lambda-facade: StubLambdaFacade
    secrets:
      cf-username: ${{ secrets.CF_USERNAME }}
      cf-password: ${{ secrets.CF_PASSWORD }}

  deploy-front-preview-fargate:
    name: Preview
    uses: ./.github/workflows/deploy-to-fargate.yml
    permissions:
      id-token: write
      contents: read
    with:
      environment: development
    secrets:
      aws-role-arn: ${{ secrets.GHA_AWS_ROLE_ARN }}
