#Contract test workflow for Typescript
name: Run Consumer Contract Test

env:
  PACT_USER: ${{ secrets.PACT_USER }}
  PACT_PASSWORD: ${{ secrets.PACT_PASSWORD }}
  PACT_URL: ${{ secrets.PACT_URL }}
  PACT_BROKER_SOURCE_SECRET_DEV: ${{ secrets.PACT_BROKER_SOURCE_SECRET }}
  GIT_BRANCH: ${{ github.head_ref || github.ref_name }}
  CONSUMER_APP_VERSION: ${{ github.sha }}

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read


jobs:
  contract-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Node
        run: sudo apt install nodejs

      - name: Install api dependencies
        run: npm ci

      - name: Install pact
        working-directory: ./backend/api/tests/contract-tests
        run: npm ci

      - name: Build
        working-directory: ./backend/api/tests/contract-tests
        run: npm run buildts

      - name: Run Pact Test
        working-directory: ./backend/api/tests/contract-tests
        run: npm run test:pact

      - name: Publish Pact Contract
        working-directory: ./backend/api/tests/contract-tests
        if: github.actor != 'dependabot[bot]' && github.event_name == 'push'
        run: |
          npm run connect
          npm run publish