{% extends './layout-manage-account.njk' %}

{% set headerActiveItem = "your-account" %}
{% set activeSidenavAccount = "your-services-sidenav" %}
{% set pageTitle = "Your services" %}

{% block mainContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-3">
    Your services
  </h1>

  {% for service in services %}
    <p>
      <a class="govuk-body"
         href="/services/{{ service.id }}/clients">{{ service.serviceName }}</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
  {% endfor %}
  
{% endblock %}
